@font-face
  font-family: SegoeUI
  src: local(SegoeUI),
  url(./../../fonts/SegoeUI.eot) format("eot"),
  url(./../../fonts/SegoeUI.woff) format("woff"),
  url(./../../fonts/SegoeUI.ttf) format("truetype")
  font-weight: 400