*
  box-sizing: border-box

html
  font-size: 14px

body, button, input, select, textarea
  font-family: 'SegoeUI', sans-serif
  color: $white
  font-weight: 400
  //background: rgb(8,14,24)
  //background: -moz-linear-gradient(0deg, rgba(8,14,24,1) 70%, rgba(21,58,64,1) 100%)
  //background: -webkit-linear-gradient(0deg, rgba(8,14,24,1) 70%, rgba(21,58,64,1) 100%)
  //background: linear-gradient(0deg, rgba(8,14,24,1) 70%, rgba(21,58,64,1) 100%)
  //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#080e18",endColorstr="#153a40",GradientType=1)
  background: url(../../img/bg-main.png)
  background-position: center
  background-size: cover
  transition: all 0.2s ease
  position: relative

.container
  position: relative
  max-width: 1400px
  width: 100%
  margin: 0 auto
  padding: 0 90px
.h-100
  height: 100%
.d-flex
  display: flex
.flex-wrap-md
  flex-wrap: wrap
.align-items-center
  align-items: center
.justify-content-center
  justify-content: center
.main
  position: relative
  min-height: calc(100vh - 117px)
  height: 100%
  padding-bottom: 100px
  z-index: 2

//index page
.centered-video
  position: relative
  display: flex
  justify-content: center
  align-items: center
  height: 100%
  z-index: 2
  video
    width: 100%
    max-width: 1000px
    height: 500px
    border: none

//about page
.about-block
  width: 87%
  max-width: 1050px
  margin: 60px auto 70px
  padding: 50px
  background: rgba(255, 255, 255, 0.04)
  position: relative
  &:before
    display: block
    content: ""
    width: 70px
    height: 70px
    position: absolute
    top: -5px
    left: -5px
    border-top: 5px solid #04E3E6
    border-left: 5px solid #04E3E6
  &:after
    display: block
    content: ""
    width: 70px
    height: 70px
    position: absolute
    bottom: -5px
    right: -5px
    border-bottom: 5px solid #04E3E6
    border-right: 5px solid #04E3E6
  &__title
    font-size: 36px
    margin-bottom: 50px
    font-family: 'Exo 2'
    font-weight: 700
    &_blue
      color: #04E3E6
  &__txt
    font-size: 18px
    text-shadow: 0px 3px 6px #000000
    line-height: 40px
    font-family: 'Exo 2', sans-serif
    font-weight: 400
    &:not(:last-child)
      margin-bottom: 40px
.advantage
  display: flex
  justify-content: space-between
  font-family: 'Exo 2'
  max-width: 1200px
  margin: 0 auto
  &__item
    position: relative
    width: 23%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    padding: 20px 0
    background: rgba(18, 61, 80, 0.49)
    border-top: 0.5px dashed #04E3E6
    border-bottom: 0.5px dashed #04E3E6
    &:before
      display: block
      content: ""
      width: 30px
      height: 100%
      position: absolute
      top: -2px
      left: -3px
      border-top: 2px solid #04E3E6
      border-left: 2px solid #04E3E6
      border-bottom: 2px solid #04E3E6
    &:after
      display: block
      content: ""
      width: 30px
      height: 100%
      position: absolute
      bottom: -2px
      right: -3px
      border-top: 2px solid #04E3E6
      border-bottom: 2px solid #04E3E6
      border-right: 2px solid #04E3E6
    svg
      max-height: 105px
      margin-bottom: 10px
    span:first-of-type
      font-size: 34px
      font-weight: 700
      text-transform: uppercase
      margin-bottom: 10px
    span:last-of-type
      font-size: 17px
      font-weight: 300
//particles
.particles-cust
  position: absolute
  height: 100%
  width: 100%
  top: 0
  left: 0
  z-index: 1

@media (max-width: 1024px)
  .main
    min-height: calc(100vh - 77px)
  .container
    padding: 0 60px
  .about-block
    width: 100%
    margin: 60px auto 90px
    &__title
      font-size: 35px
    &__txt
      font-size: 18px
  .advantage
    max-width: 90%
    flex-wrap: wrap
    &__item
      width: 47%
      margin-bottom: 40px

@media (max-width: 500px)
  .container
    padding: 0 26px
  .about-block
    padding: 25px
    margin: 60px auto 50px
    &__title
      font-size: 24px
      margin-bottom: 30px
    &__txt
      font-size: 13px
      line-height: 16px
      &:not(:last-child)
        margin-bottom: 20px
  .advantage
    max-width: 100%
    &__item
      svg
        max-height: 60px
      span:first-of-type
        font-size: 21px
      span:last-of-type
        font-size: 10px