.blue-wrapper
  background: #123D50
  box-shadow: 0 3px 50px #00000021
  border-radius: 31px
  padding: 25px

.icon-up
  width: 6px
  height: 25px
  background: transparent linear-gradient(180deg, #04E3E6 0%, #02727300 100%) 0% 0% no-repeat padding-box
  border-radius: 50px
  display: inline-flex
  margin-right: 5px
  vertical-align: middle
.icon-down
  width: 6px
  height: 25px
  transform: matrix(-1, 0, 0, -1, 0, 0)
  background: transparent linear-gradient(180deg, #FCB243 0%, #80808000 100%) 0% 0% no-repeat padding-box
  border-radius: 50px
  display: inline-flex
  margin-right: 5px
  vertical-align: middle
.mt-10
  margin-top: 10px
.mt-40
  margin-top: 40px
.table-wrapper
  overflow: auto
.table_def
  font-family: 'Montserrat', sans-serif
  width: 100%
  border-collapse: collapse
  tbody tr:last-child th,
  tbody tr:last-child td
    border-width: 1px
  th
    font-size: 16px
    font-weight: 500
    padding: 10px
    &:not(:first-child)
      text-align: center
  td
    font-size: 16px
    font-weight: 400
    padding: 10px
    white-space: pre
    border-bottom: 1px solid #177577
    &:not(:first-child)
      text-align: center
      color: rgba(255, 255, 255, 0.69)
.chart-title
  font-size: 18px
  font-weight: 400
  margin-bottom: 20px
  text-transform: uppercase
  font-family: 'Exo 2', sans-serif
  &_sm
    font-size: 15px

.flex-40
  flex-basis: 40%
  margin-right: 20px
.flex-1
  flex: 1
  &_mr
    margin-right: 20px
.chart-subtitle
  font-family: 'Exo 2', sans-serif
  color: #FFFFFF
  opacity: 0.77
  text-transform: uppercase
#chartdiv
  height: 600px
.login-block
  display: flex
  justify-content: center
  align-items: center
  height: calc(100vh - 117px)
  background: url(../../img/bg.png)
  background-repeat: no-repeat
  background-size: cover
  &__cont
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 60%
    max-width: 900px
    height: 270px
    background: #177577
    box-shadow: 10px 10px 20px #00000042
    border-radius: 10px
    padding: 15px
    text-align: center
  &__title
    font-size: 28px
    font-family: 'Exo 2', sans-serif
    text-transform: uppercase
  &__input
    background: transparent
    border: none
    border-bottom: 1px solid #fff
    max-width: 350px
    width: 100%
    margin-top: 25px
    margin-bottom: 25px
    font-size: 18px
    padding: 10px 0
    text-align: center
    &::placeholder
      color: #ffffff
    &:focus
      outline: none
  &__btn
    display: inline-flex
    align-items: center
    justify-content: center
    width: 125px
    height: 37px
    background: #FFFFFF
    border-radius: 27px
    color: #000000
    text-transform: uppercase
    border: none
    cursor: pointer
    transition: all 0.2s ease

    &:hover
      background: darken(#FFFFFF, 15%)
    &:focus
      outline: none

@media (max-width: 1024px)
  .flex-40
    flex-basis: 100%
    margin-right: 0
    margin-bottom: 20px
  .flex-1
    flex-basis: 100%
  .flex-1_mr
    margin-right: 0
    margin-bottom: 40px
@media (max-width: 768px)
  .blue-wrapper
    padding: 10px
    border-radius: 10px

  #myChart3
    width: 100%
@media (max-width: 500px)
  .login-block
    height: calc(100vh - 77px)
    &__cont
      width: 90%
    &__title
      font-size: 20px
  .mobile-hidden
    display: none


.custom-list-content
  .blue-wrapper
    height: 100%
  display: flex
  .custom-1
    display: inline-block
    width: 100%
    padding-left: 5px
    padding-right: 5px
  .custom-2
    display: inline-block
    width: 49.7%
    padding-left: 5px
    padding-right: 5px
  .custom-3
    padding-left: 5px
    padding-right: 5px
    display: inline-block
    width: 33%
  .custom-4
    padding-left: 5px
    padding-right: 5px
    display: inline-block
    width: 24%
  .custom-5
    padding-left: 5px
    padding-right: 5px
    display: inline-block
    width: 24%
  .custom-6
    padding-left: 5px
    padding-right: 5px
    display: inline-block
    width: 24%
  .custom-7
    padding-left: 5px
    padding-right: 5px
    display: inline-block
    width: 24%
  .custom-8
    padding-left: 5px
    padding-right: 5px
    display: inline-block
    width: 24%

@media (max-width: 500px)
  .custom-list-content
    .blue-wrapper
      height: 100%
    display: block
    .custom-1
      display: inline-block
      width: 100%
      padding-left: 5px
      padding-right: 5px
      margin-bottom: 10px
    .custom-2
      display: inline-block
      width: 100%
      padding-left: 5px
      margin-bottom: 10px
      padding-right: 5px
    .custom-3
      padding-left: 5px
      padding-right: 5px
      display: inline-block
      width: 100%
      margin-bottom: 10px
    .custom-4
      padding-left: 5px
      padding-right: 5px
      display: inline-block
      width: 100%
      margin-bottom: 10px
    .custom-5
      padding-left: 5px
      padding-right: 5px
      display: inline-block
      width: 100%
      margin-bottom: 10px
    .custom-6
      padding-left: 5px
      padding-right: 5px
      display: inline-block
      width: 100%
      margin-bottom: 10px
    .custom-7
      padding-left: 5px
      padding-right: 5px
      display: inline-block
      width: 100%
      margin-bottom: 10px
    .custom-8
      padding-left: 5px
      padding-right: 5px
      display: inline-block
      width: 100%
      margin-bottom: 10px