.header
  position: relative
  padding-top: 35px
  padding-bottom: 35px
  background-color: transparent
  z-index: 3
  transition: all 0.2s ease
  &__cont
    color: $white
    display: flex
    justify-content: space-between
    align-items: center
  &__logo
    font-size: 41px
    text-decoration: none
    color: $white
  &__menu
    list-style: none
    display: flex
    align-items: center
    li
      display: flex
      align-items: center
      margin-right: 60px

      &:after
        position: relative
        right: -29px
        content: '\A'
        width: 8px
        height: 8px
        border-radius: 50%
        display: inline-flex
        background-color: $white
      &:last-child
        margin-right: 0
        &:after
          display: none
      a
        text-decoration: none
        color: $white
        font-weight: 700
        text-transform: uppercase
        transition: all 0.2s ease
        font-size: 16px
        &:hover
          color: #2799A3

  &__login
    display: inline-flex
    align-items: center
    justify-content: center
    color: $white
    text-transform: uppercase
    background: #2799A3
    border-radius: 27px
    width: 135px
    height: 40px
    text-decoration: none
    transition: all 0.2s ease
    &:hover
      background-color: darken(#2799A3, 10%)
    &_mob
      display: inline-flex
      width: 228px



.nav-icon
  position: absolute
  top: 60%
  transform: translateY(-50%)
  right: 60px
  display: none
  width: 37px
  height: 37px
  transition: .5s ease-in-out
  cursor: pointer
  z-index: 103

  span
    display: block
    position: absolute
    height: 4px
    width: 100%
    background: #fff
    border-radius: 10px
    opacity: 1
    left: 0
    transform: rotate(0)
    transition: .25s ease-in-out

    &:nth-child(1)
      top: 0
      transform-origin: left center
    &:nth-child(2)
      top: 11px
      transform-origin: left center
    &:nth-child(3)
      top: 22px
      transform-origin: left center
.nav-icon.open
  span:nth-child(1)
    transform: rotate(45deg)
    top: 2px
    left: 8px
  span:nth-child(2)
    width: 0
    opacity: 0
  span:nth-child(3)
    transform: rotate(-45deg)
    top: 27px
    left: 8px

.menu-drop
  position: fixed
  height: 100vh
  top: -200%
  left: 0
  width: 100%
  display: flex
  flex-direction: column
  align-items: center
  overflow: hidden
  background: #12222A
  z-index: 102
  transition: all 0.4s ease
  padding-top: 25%
  .header-list
    flex-direction: column
    li
      padding: 15px 0
      margin-bottom: 20px
      a
        color: #ffffff
        font-size: 24px
        text-transform: uppercase
        text-decoration: none
      &.active
        a
          border-bottom: 1px solid #2799A3


.menu-drop.open
  top: 0
.mobile-title
  font-size: 80px
  margin-bottom: 50px

@media (max-width: 1024px)
  .header__menu,
  .header__login
    display: none
  .nav-icon
    display: block
  .menu-drop
    .header-list
      list-style: none

      padding-left: 0
      li
        text-align: center
        a
          display: inline-flex


@media (max-width: 500px)
  .header
    padding: 15px 0
  .nav-icon
    right: 35px