{% extends 'admin/layouts/main.html.twig' %}

{% form_theme pbsForm 'admin/form_layouts/custom_form_layout.html.twig' %}

{% block content %}
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>Create</h3>
                    <div class="card card-warning">
                        <div class="card-header">
                            <h3 class="card-title">Create new one</h3>
                        </div>
                        <div class="card-body">
                            {{ form_start(pbsForm) }}

                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        {{ form_label(pbsForm.symbol) }}
                                        {{ form_widget(pbsForm.symbol, {'attr':{'class':'form-control g-background-active-value-input'}}) }}
                                        {{ form_errors(pbsForm.symbol) }}
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        {{ form_label(pbsForm.description) }}
                                        {{ form_widget(pbsForm.description, {'attr':{'class':'form-control'}}) }}
                                        {{ form_errors(pbsForm.description) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <div class="form-group">
                                        {{ form_label(pbsForm.avgWeight) }}
                                        {{ form_widget(pbsForm.avgWeight, {'attr':{'class':'form-control'}}) }}
                                        {{ form_errors(pbsForm.avgWeight) }}
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        {{ form_label(pbsForm.returnValue) }}
                                        {{ form_widget(pbsForm.returnValue, {'attr':{'class':'form-control g-background-active-value-input'}}) }}
                                        {{ form_errors(pbsForm.returnValue) }}
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        {{ form_label(pbsForm.contribution) }}
                                        {{ form_widget(pbsForm.contribution, {'attr':{'class':'form-control'}}) }}
                                        {{ form_errors(pbsForm.contribution) }}
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        {{ form_label(pbsForm.unrealizedPL) }}
                                        {{ form_widget(pbsForm.unrealizedPL, {'attr':{'class':'form-control'}}) }}
                                        {{ form_errors(pbsForm.unrealizedPL) }}
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        {{ form_label(pbsForm.realizedPL) }}
                                        {{ form_widget(pbsForm.realizedPL, {'attr':{'class':'form-control'}}) }}
                                        {{ form_errors(pbsForm.realizedPL) }}
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        {{ form_label(pbsForm.open) }}
                                        {{ form_widget(pbsForm.open, {'attr':{'class':'form-control'}}) }}
                                        {{ form_errors(pbsForm.open) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        {{ form_label(pbsForm.consumerCyc) }}
                                        {{ form_widget(pbsForm.consumerCyc, {'attr':{'class':'form-control'}}) }}
                                        {{ form_errors(pbsForm.consumerCyc) }}
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        {{ form_label(pbsForm.consumerNonCyc) }}
                                        {{ form_widget(pbsForm.consumerNonCyc, {'attr':{'class':'form-control'}}) }}
                                        {{ form_errors(pbsForm.consumerNonCyc) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-block btn-success">Save</button>
                                    </div>
                                </div>
                            </div>
                            {{ form_end(pbsForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}