{% extends 'admin/layouts/main.html.twig' %}

{% form_theme performanceBySymbolForm 'admin/form_layouts/custom_form_layout.html.twig' %}

{% block content %}
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>Edit</h3>
                    <div class="card card-warning">
                        <div class="card-header">
                            <h3 class="card-title">Edit</h3>
                        </div>
                        <div class="card-body">
                            {{ form_start(performanceBySymbolForm) }}

                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        {{ form_label(performanceBySymbolForm.symbol) }}
                                        {{ form_widget(performanceBySymbolForm.symbol, {'attr':{'class':'form-control g-background-active-value-input'}}) }}
                                        {{ form_errors(performanceBySymbolForm.symbol) }}
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        {{ form_label(performanceBySymbolForm.description) }}
                                        {{ form_widget(performanceBySymbolForm.description, {'attr':{'class':'form-control'}}) }}
                                        {{ form_errors(performanceBySymbolForm.description) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <div class="form-group">
                                        {{ form_label(performanceBySymbolForm.avgWeight) }}
                                        {{ form_widget(performanceBySymbolForm.avgWeight, {'attr':{'class':'form-control'}}) }}
                                        {{ form_errors(performanceBySymbolForm.avgWeight) }}
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        {{ form_label(performanceBySymbolForm.returnValue) }}
                                        {{ form_widget(performanceBySymbolForm.returnValue, {'attr':{'class':'form-control g-background-active-value-input'}}) }}
                                        {{ form_errors(performanceBySymbolForm.returnValue) }}
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        {{ form_label(performanceBySymbolForm.contribution) }}
                                        {{ form_widget(performanceBySymbolForm.contribution, {'attr':{'class':'form-control'}}) }}
                                        {{ form_errors(performanceBySymbolForm.contribution) }}
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        {{ form_label(performanceBySymbolForm.unrealizedPL) }}
                                        {{ form_widget(performanceBySymbolForm.unrealizedPL, {'attr':{'class':'form-control'}}) }}
                                        {{ form_errors(performanceBySymbolForm.unrealizedPL) }}
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        {{ form_label(performanceBySymbolForm.realizedPL) }}
                                        {{ form_widget(performanceBySymbolForm.realizedPL, {'attr':{'class':'form-control'}}) }}
                                        {{ form_errors(performanceBySymbolForm.realizedPL) }}
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        {{ form_label(performanceBySymbolForm.open) }}
                                        {{ form_widget(performanceBySymbolForm.open, {'attr':{'class':'form-control'}}) }}
                                        {{ form_errors(performanceBySymbolForm.open) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        {{ form_label(performanceBySymbolForm.consumerCyc) }}
                                        {{ form_widget(performanceBySymbolForm.consumerCyc, {'attr':{'class':'form-control'}}) }}
                                        {{ form_errors(performanceBySymbolForm.consumerCyc) }}
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        {{ form_label(performanceBySymbolForm.consumerNonCyc) }}
                                        {{ form_widget(performanceBySymbolForm.consumerNonCyc, {'attr':{'class':'form-control'}}) }}
                                        {{ form_errors(performanceBySymbolForm.consumerNonCyc) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-block btn-success">Save</button>
                                    </div>
                                </div>
                            </div>
                            {{ form_end(performanceBySymbolForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}