{% extends 'admin/layouts/main.html.twig' %}

{% form_theme form 'admin/form_layouts/custom_form_layout.html.twig' %}

{% block content %}
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-warning">
                        <div class="card-header">
                            <h3 class="card-title">General Elements</h3>
                        </div>
                        <div class="card-body">
                            {{ form_start(form) }}
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        {{ form_label(form.performanceContents) }}
                                        {{ form_widget(form.performanceContents, {'attr':{'class':'parts-collection'}}) }}
                                        {{ form_errors(form.performanceContents) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-block btn-success">Save</button>
                                    </div>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('/build/admin/plugins/jquery-collection/jquery-collection.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

    <script type="text/javascript">
        $('.parts-collection').collection({
            name_prefix: '{{ form.performanceContents.vars.full_name }}',
            allow_duplicate: false,
            allow_up: false,
            allow_down: false,
            after_add: function(collection, element) {
                $('.summ').summernote({
                    height: 200,
                    toolbar: [
                        [ 'style', [ 'style' ] ],
                        [ 'font', [ 'bold', 'italic', 'underline', 'strikethrough', 'superscript', 'subscript', 'clear'] ],
                        [ 'fontname', [ 'fontname' ] ],
                        [ 'fontsize', [ 'fontsize' ] ],
                        [ 'color', [ 'color' ] ],
                        [ 'para', [ 'ol', 'ul', 'paragraph', 'height' ] ],
                        [ 'table', [ 'table' ] ],
                        [ 'insert', [ 'link'] ],
                        [ 'view', [ 'undo', 'redo', 'fullscreen', 'codeview', 'help' ] ]
                    ]
                });
                return true;
            }
        });

    $(document).ready(function () {
        $('.summ').summernote({
            height: 200,
            toolbar: [
                [ 'style', [ 'style' ] ],
                [ 'font', [ 'bold', 'italic', 'underline', 'strikethrough', 'superscript', 'subscript', 'clear'] ],
                [ 'fontname', [ 'fontname' ] ],
                [ 'fontsize', [ 'fontsize' ] ],
                [ 'color', [ 'color' ] ],
                [ 'para', [ 'ol', 'ul', 'paragraph', 'height' ] ],
                [ 'table', [ 'table' ] ],
                [ 'insert', [ 'link'] ],
                [ 'view', [ 'undo', 'redo', 'fullscreen', 'codeview', 'help' ] ]
            ]
        });
    })
    </script>

{% endblock %}