{% extends 'admin/layouts/main.html.twig' %}

{% block content %}
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-3">
                    {% if (result is empty) %}
                        <a href="{{ path('admin_options_performance_create') }}" class="btn btn-block btn-info btn-flat mb-2">Create new</a>
                    {% else %}
                        <a href="{{ path('admin_options_performance_edit', {'id':result.id}) }}" class="btn btn-block btn-info btn-flat mb-2">Edit Option</a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Performance Option</h3>
                        </div>
                        <div class="card-body">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Performance Page</h3>
                                </div>

                            </div>
                        </div>

                    </div>

                    {% if result is not empty %}
                        {% for pc in result.performanceContents %}
                            <div class="card p-2 {% if pc.display == false %} bg-danger {% endif %}">
                                <div class="col-md-12">
                                    <div class="box box-solid">
                                        <div class="box-header with-border border-bottom">
                                            <i class="fa fa-text-width"></i>

                                            <h3 class="box-title">{{ pc.title }}</h3>
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body">
                                           {{ pc.content|raw }}
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                    <!-- /.box -->
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function () {
            $("#example1").DataTable({
                "autoWidth": true,
                "pageLength": 50,
                "order": [[ 0, "desc" ]]
            });
        });
    </script>

{% endblock %}