{% extends 'front/layouts/main.html.twig' %}

{% block content %}
    {% if is_granted('ROLE_USER_INFINITY') %}
        <main class="main">
            <div class="container">

                {% if pContentOption is not empty %}
                    {% set col = pContentOption|length|round %}
                    <div class="custom-list-content">
                        {% for c in pContentOption %}
                            {% if c.display == true %}
                                <div class="custom-{{ col }}">
                                    <div class="blue-wrapper">
                                        <div class="chart-title">{{ c.title }}</div>
                                        <div>
                                            {{ c.content|raw }}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <br>
                {% endif %}

                {% if pOption is not empty %}

                    {% if pOption.activePBC == true %}
                        <div class="blue-wrapper">
                            {% if pOption is not empty %}
                                {% if pOption.titlePBC is not empty %}
                                    <div class="chart-title">{{ pOption.titlePBC }}</div>
                                {% endif %}
                            {% endif %}
                            <canvas id="myChart"></canvas>
                        </div>
                    {% endif %}

                    {% if pOption.activeAF == true or pOption.activeSA == true %}
                        <div class="mt-40">
                            <div class="d-flex flex-wrap-md">

                                {% if pOption.activeAF == true %}
                                    <div class="blue-wrapper flex-1 flex-1_mr">
                                        {% if pOption is not empty %}
                                            {% if pOption.titleAF is not empty %}
                                                <div class="chart-title chart-title_sm">{{ pOption.titleAF }}</div>
                                            {% endif %}
                                        {% endif %}
                                        <canvas id="myChart5"></canvas>
                                    </div>
                                {% endif %}

                                {% if pOption.activeSA == true %}
                                    <div class="blue-wrapper flex-1">
                                        {% if pOption is not empty %}
                                            {% if pOption.titleSA is not empty %}
                                                <div class="chart-title chart-title_sm">{{ pOption.titleSA }}</div>
                                            {% endif %}
                                        {% endif %}
                                        <canvas id="myChart6"></canvas>
                                    </div>
                                {% endif %}

                            </div>
                        </div>
                    {% endif %}

                    {% if pOption.activePBAC == true or pOption.activeCTR == true %}
                        <div class="mt-40">
                            <div class="d-flex flex-wrap-md">
                                {% if pOption.activePBAC == true %}
                                    <div class="blue-wrapper flex-40">
                                        {% if pOption is not empty %}
                                            {% if pOption.titlePBAC is not empty %}
                                                <div class="chart-title chart-title_sm">{{ pOption.titlePBAC }}</div>
                                            {% endif %}
                                        {% endif %}
                                        <canvas id="myChart2" height="300"></canvas>
                                    </div>
                                {% endif %}
                                {% if pOption.activeCTR == true %}
                                    <div class="blue-wrapper flex-1">
                                        {% if pOption is not empty %}
                                            {% if pOption.titleCTR is not empty %}
                                                <div class="chart-title chart-title_sm">{{ pOption.titleCTR }}</div>
                                            {% endif %}
                                        {% endif %}
                                        <canvas id="myChart3" height="200"></canvas>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}

                    {% if pOption.activeRMBC == true %}
                        <div class="blue-wrapper mt-40">
                            <div class="table-wrapper">
                                <table class="table_def">
                                    <tr>
                                        <th></th>
                                        {% if rmbc.spxtr.showItem == true %}
                                            <th>{{ rmbc.spxtr.name|upper }}</th>
                                        {% endif %}
                                        {% if rmbc.efa.showItem == true %}
                                            <th>{{ rmbc.efa.name|upper }}</th>
                                         {% endif %}
                                        {% if rmbc.vt.showItem == true %}
                                            <th>{{ rmbc.vt.name|upper }}</th>
                                         {% endif %}
                                        {% if rmbc.consolidated.showItem == true %}
                                            <th>{{ rmbc.consolidated.name|upper }}</th>
                                         {% endif %}
                                    </tr>
                                    <tr>
                                        <td><span>Ending VAMI:</span></td>
                                        {% if rmbc.spxtr.showItem == true %}
                                            <td><span>{{ rmbc.spxtr.endingVami|dash }}</span></td>
                                        {% endif %}
                                        {% if rmbc.efa.showItem == true %}
                                            <td><span>{{ rmbc.efa.endingVami|dash }}</span></td>
                                        {% endif %}
                                        {% if rmbc.vt.showItem == true %}
                                            <td><span>{{ rmbc.vt.endingVami|dash }}</span></td>
                                        {% endif %}
                                        {% if rmbc.consolidated.showItem == true %}
                                            <td><span>{{ rmbc.consolidated.endingVami|dash }}</span></td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td><span>Max Drawdown:</span></td>
                                        {% if rmbc.spxtr.showItem == true %}
                                            <td><span>{{ rmbc.spxtr.maxDrawdown|dash }}</span></td>
                                        {% endif %}
                                        {% if rmbc.efa.showItem == true %}
                                            <td><span>{{ rmbc.efa.maxDrawdown|dash }}</span></td>
                                        {% endif %}
                                        {% if rmbc.vt.showItem == true %}
                                            <td><span>{{ rmbc.vt.maxDrawdown|dash }}</span></td>
                                        {% endif %}
                                        {% if rmbc.consolidated.showItem == true %}
                                            <td><span>{{ rmbc.consolidated.maxDrawdown|dash }}</span></td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td><span>Peak-To-Valley:</span></td>
                                        {% if rmbc.spxtr.showItem == true %}
                                            <td><span>{{ rmbc.spxtr.peakToValley|dash }}</span></td>
                                        {% endif %}
                                        {% if rmbc.efa.showItem == true %}
                                            <td><span>{{ rmbc.efa.peakToValley|dash }}</span></td>
                                        {% endif %}
                                        {% if rmbc.vt.showItem == true %}
                                            <td><span>{{ rmbc.vt.peakToValley|dash }}</span></td>
                                        {% endif %}
                                        {% if rmbc.consolidated.showItem == true %}
                                            <td><span>{{ rmbc.consolidated.peakToValley|dash }}</span></td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td><span>Recovery:</span></td>
                                        {% if rmbc.spxtr.showItem == true %}
                                            <td><span>{{ rmbc.spxtr.recovery|dash }}</span></td>
                                        {% endif %}
                                        {% if rmbc.efa.showItem == true %}
                                            <td><span>{{ rmbc.efa.recovery|dash }}</span></td>
                                        {% endif %}
                                        {% if rmbc.vt.showItem == true %}
                                            <td><span>{{ rmbc.vt.recovery|dash }}</span></td>
                                        {% endif %}
                                        {% if rmbc.consolidated.showItem == true %}
                                            <td><span>{{ rmbc.consolidated.recovery|dash }}</span></td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td><span>Sharpe Ratio:</span></td>
                                        {% if rmbc.spxtr.showItem == true %}
                                            <td><span>{{ rmbc.spxtr.sharpeRatio|dash }}</span></td>
                                        {% endif %}
                                        {% if rmbc.efa.showItem == true %}
                                            <td><span>{{ rmbc.efa.sharpeRatio|dash }}</span></td>
                                        {% endif %}
                                        {% if rmbc.vt.showItem == true %}
                                            <td><span>{{ rmbc.vt.sharpeRatio|dash }}</span></td>
                                        {% endif %}
                                        {% if rmbc.consolidated.showItem == true %}
                                            <td><span>{{ rmbc.consolidated.sharpeRatio|dash }}</span></td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td><span>Sortino Ratio:</span></td>
                                        {% if rmbc.spxtr.showItem == true %}
                                            <td><span>{{ rmbc.spxtr.sortinoRatio|dash }}</span></td>
                                        {% endif %}
                                        {% if rmbc.efa.showItem == true %}
                                            <td><span>{{ rmbc.efa.sortinoRatio|dash }}</span></td>
                                        {% endif %}
                                        {% if rmbc.vt.showItem == true %}
                                            <td><span>{{ rmbc.vt.sortinoRatio|dash }}</span></td>
                                        {% endif %}
                                        {% if rmbc.consolidated.showItem == true %}
                                            <td><span>{{ rmbc.consolidated.sortinoRatio|dash }}</span></td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td><span>Standard Deviation:</span></td>
                                        {% if rmbc.spxtr.showItem == true %}
                                            <td><span>{{ rmbc.spxtr.standardDeviation|dash }}%</span></td>
                                        {% endif %}
                                        {% if rmbc.efa.showItem == true %}
                                            <td><span>{{ rmbc.efa.standardDeviation|dash }}%</span></td>
                                        {% endif %}
                                        {% if rmbc.vt.showItem == true %}
                                            <td><span>{{ rmbc.vt.standardDeviation|dash }}%</span></td>
                                        {% endif %}
                                        {% if rmbc.consolidated.showItem == true %}
                                            <td><span>{{ rmbc.consolidated.standardDeviation|dash }}%</span></td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td><span>Downside Deviation:</span></td>
                                        {% if rmbc.spxtr.showItem == true %}
                                        {#                                <td><span class="icon-up"></span><span>6.86%</span></td>#}
                                            <td><span>{{ rmbc.spxtr.downsideDeviation|dash }}%</span></td>
                                        {% endif %}
                                        {% if rmbc.efa.showItem == true %}
                                            <td><span>{{ rmbc.efa.downsideDeviation|dash }}%</span></td>
                                        {% endif %}
                                        {% if rmbc.vt.showItem == true %}
                                            <td><span>{{ rmbc.vt.downsideDeviation|dash }}%</span></td>
                                        {% endif %}
                                        {% if rmbc.consolidated.showItem == true %}
                                            <td><span>{{ rmbc.consolidated.downsideDeviation|dash }}%</span></td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td><span>Correlation:</span></td>
                                        {% if rmbc.spxtr.showItem == true %}
                                            <td><span>{{ rmbc.spxtr.correlation|dash }}</span></td>
                                        {% endif %}
                                        {% if rmbc.efa.showItem == true %}
                                            <td><span>{{ rmbc.efa.correlation|dash }}</span></td>
                                        {% endif %}
                                        {% if rmbc.vt.showItem == true %}
                                            <td><span>{{ rmbc.vt.correlation|dash }}</span></td>
                                        {% endif %}
                                        {% if rmbc.consolidated.showItem == true %}
                                            <td><span>{{ rmbc.consolidated.correlation|dash }}</span></td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td><span>B:</span></td>
                                        {% if rmbc.spxtr.showItem == true %}
                                            <td><span>{{ rmbc.spxtr.beta|dash }}</span></td>
                                        {% endif %}
                                        {% if rmbc.efa.showItem == true %}
                                            <td><span>{{ rmbc.efa.beta|dash }}</span></td>
                                        {% endif %}
                                        {% if rmbc.vt.showItem == true %}
                                            <td><span>{{ rmbc.vt.beta|dash }}</span></td>
                                        {% endif %}
                                        {% if rmbc.consolidated.showItem == true %}
                                            <td><span>{{ rmbc.consolidated.beta|dash }}</span></td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td><span>a:</span></td>
                                        {% if rmbc.spxtr.showItem == true %}
                                            <td><span>{{ rmbc.spxtr.alpha|dash }}</span></td>
                                        {% endif %}
                                        {% if rmbc.efa.showItem == true %}
                                            <td><span>{{ rmbc.efa.alpha|dash }}</span></td>
                                        {% endif %}
                                        {% if rmbc.vt.showItem == true %}
                                            <td><span>{{ rmbc.vt.alpha|dash }}</span></td>
                                        {% endif %}
                                        {% if rmbc.consolidated.showItem == true %}
                                            <td><span>{{ rmbc.consolidated.alpha|dash }}</span></td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td><span>Mean Return:</span></td>
                                        {% if rmbc.spxtr.showItem == true %}
                                        {#                                <td><span class="icon-down"></span><span>-2.05%</span></td>#}
                                        {#                                <td><span class="icon-down"></span><span>-3.86%</span></td>#}
                                        {#                                <td><span class="icon-down"></span><span>-2.85%</span></td>#}
                                        {#                                <td><span class="icon-up"></span><span>0.55%</span></td>#}
                                            <td><span>{{ rmbc.spxtr.meanReturn|dash }}%</span></td>
                                        {% endif %}
                                        {% if rmbc.efa.showItem == true %}
                                            <td><span>{{ rmbc.efa.meanReturn|dash }}%</span></td>
                                        {% endif %}
                                        {% if rmbc.vt.showItem == true %}
                                            <td><span>{{ rmbc.vt.meanReturn|dash }}%</span></td>
                                        {% endif %}
                                        {% if rmbc.consolidated.showItem == true %}
                                            <td><span>{{ rmbc.consolidated.meanReturn|dash }}%</span></td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td><span>Positive Periods:</span></td>
                                        {% if rmbc.spxtr.showItem == true %}
                                            <td><span>{{ rmbc.spxtr.positivePeriods|dash }}</span></td>
                                        {% endif %}
                                        {% if rmbc.efa.showItem == true %}
                                            <td><span>{{ rmbc.efa.positivePeriods|dash }}</span></td>
                                        {% endif %}
                                        {% if rmbc.vt.showItem == true %}
                                            <td><span>{{ rmbc.vt.positivePeriods|dash }}</span></td>
                                        {% endif %}
                                        {% if rmbc.consolidated.showItem == true %}
                                            <td><span>{{ rmbc.consolidated.positivePeriods|dash }}</span></td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td><span>Negative Periods:</span></td>
                                        {% if rmbc.spxtr.showItem == true %}
                                            <td><span>{{ rmbc.spxtr.negativePeriods|dash }}</span></td>
                                        {% endif %}
                                        {% if rmbc.efa.showItem == true %}
                                            <td><span>{{ rmbc.efa.negativePeriods|dash }}</span></td>
                                        {% endif %}
                                        {% if rmbc.vt.showItem == true %}
                                            <td><span>{{ rmbc.vt.negativePeriods|dash }}</span></td>
                                        {% endif %}
                                        {% if rmbc.consolidated.showItem == true %}
                                            <td><span>{{ rmbc.consolidated.negativePeriods|dash }}</span></td>
                                        {% endif %}
                                    </tr>
                                </table>
                            </div>
                        </div>
                    {% endif %}

                    {% if pOption.activePBS == true %}
                        <div class="blue-wrapper mt-40">
                            <div id="chartdiv"></div>
                        </div>
                    {% endif %}

                {% endif %}
            </div>
        </main>
        <div class="particles-cust" id="particles-js"></div>
    {% else %}
        <div class="login-block">
            <div class="login-block__cont">
                <form action="{{ path("fos_user_security_check") }}" method="post">

                    <div class="login-block__title">Watch Performance summary</div>

                    <input class="login-block__input" type="text" name="_username" placeholder="EMAIL ADDRESS" value="{{ lastUsername }}"/>
                    <input type="hidden" class="form-control" name="_password" value="finityx">

                    <input type="hidden" name="_target_path" value="{{ path('front_performance_index') }}"/>
                    <input type="hidden" name="_failure_path" value="{{ path('front_performance_index') }}"/>

                    {% if csrf_token is defined %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}

                    <button class="login-block__btn">SUBMIT</button>

                    {% if error is defined and error.messageKey is defined %}
                        <div style="color: #ffffff; margin-top: 15px;">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}


    {% if is_granted('ROLE_USER_INFINITY') %}
        <script src="https://www.amcharts.com/lib/4/core.js"></script>
        <script src="https://www.amcharts.com/lib/4/charts.js"></script>
        <script src="https://www.amcharts.com/lib/4/plugins/forceDirected.js"></script>
        <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

        <script src="{{ asset('/build/front/js/charts.js') }}"></script>
        <script src="{{ asset('/build/front/js/rounded-chart.js') }}"></script>
    {% else %}
    {% endif %}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
{% endblock %}