<div class="col-12" style="border-bottom: 1px solid #6c757d; margin-bottom: 20px;">
    <div class="col-8" style="
        border-right: 1px solid #6c757d;
        padding-right: 15px;
    ">
        {{ form_widget(form.aboutUsParts.vars.prototype) }}
    </div>
    <div class="col-3">
        <div class="form-group">
            <button type="button" class="btn btn-block btn-warning remove-part">Remove part</button>
        </div>
    </div>
</div>