{% extends 'front/layouts/main.html.twig' %}

{% block content %}
    <main class="main d-flex align-items-center">
        <div class="container">
            <div class="centered-video animate__animated animate__fadeInUp">
                <video autoplay muted controls type="video/mp4">
                    <source src="http://finityx.wbd.co.il/public/videos/finity.mp4" type="video/mp4"/>
                </video>
            </div>
        </div>
    </main>
    <div class="particles-cust" id="particles-js"></div>
{% endblock %}