{% extends 'bootstrap_4_layout.html.twig' %}

{% block AboutUsPartType_label -%}
    {% if label is not same as(false) -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
    {%- else -%}
        {%- if errors|length > 0 -%}
            <div id="{{ id }}_errors" class="mb-2">
                {{- form_errors(form) -}}
            </div>
        {%- endif -%}
    {%- endif -%}
{%- endblock AboutUsPartType_label %}

{% block AboutUsPartType_widget %}

    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        {{ form_label(form.title) }}
                        {{ form_widget(form.title, {'attr':{'class':'form-control'}}) }}
                        {{ form_errors(form.title) }}
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        {{ form_label(form.description) }}
                        {{ form_widget(form.description, {'attr':{'class':'form-control'}}) }}
                        {{ form_errors(form.description) }}
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        {{ form_label(form.image) }}
                        {{ form_widget(form.image, {'attr':{'class':'form-control'}}) }}
                        {{ form_errors(form.image) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <a href="#" class="collection-remove btn btn-default" title="Delete fruit"><span class="fa fa-minus"></span></a>
            <a href="#" class="collection-add btn btn-default" title="Add fruit"><span class="fa fa-plus"></span></a>
        </div>
        <div class="col-md-5" data-img>
            {% if (form.image.vars.data is instanceof('Symfony\\Component\\HttpFoundation\\File\\File')) %}
                <img style="width: 100%; height: 150px" src="{{ '/public/uploads/' ~ form.image.vars.data.filename }}" alt="">
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block form_label -%}
    {% if label is not same as(false) -%}
        {%- if compound is defined and compound -%}
            {%- set element = 'legend' -%}
            {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' col-form-label')|trim}) -%}
        {%- else -%}
            {%- set label_attr = label_attr|merge({for: id}) -%}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>{{ translation_domain is same as(false) ? label : label|trans(label_translation_parameters, translation_domain) }}</{{ element|default('label') }}>
    {%- else -%}
        {%- if errors|length > 0 -%}
            <div id="{{ id }}_errors" class="mb-2">
                {{- form_errors(form) -}}
            </div>
        {%- endif -%}
    {%- endif -%}
{%- endblock form_label %}

{% block form_row -%}
    {{- form_label(form) -}}
    {{- form_widget(form) -}}
    {{- form_help(form) -}}
{%- endblock form_row %}
