{% extends 'admin/layouts/main.html.twig' %}

{% form_theme performanceByAssetClassForm 'admin/form_layouts/custom_form_layout.html.twig' %}

{% block content %}
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-warning">
                        <div class="card-header">
                            <h3 class="card-title">General Elements</h3>
                        </div>
                        <div class="card-body">
                            {{ form_start(performanceByAssetClassForm) }}
                            <div class="row">
                                <div class="col-2">
                                    <div class="form-group">
                                        {{ form_label(performanceByAssetClassForm.date) }}
                                        {{ form_widget(performanceByAssetClassForm.date, {'attr':{'class':'form-control js-datepicker g-background-active-value-input', 'value':performanceByAssetClassForm.date.vars.data|date('M Y')}}) }}
                                        {{ form_errors(performanceByAssetClassForm.date) }}
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        {{ form_label(performanceByAssetClassForm.equities) }}
                                        {{ form_widget(performanceByAssetClassForm.equities, {'attr':{'class':'form-control g-background-active-value-input'}}) }}
                                        {{ form_errors(performanceByAssetClassForm.equities) }}
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        {{ form_label(performanceByAssetClassForm.realEstate) }}
                                        {{ form_widget(performanceByAssetClassForm.realEstate, {'attr':{'class':'form-control g-background-active-value-input'}}) }}
                                        {{ form_errors(performanceByAssetClassForm.realEstate) }}
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        {{ form_label(performanceByAssetClassForm.cash) }}
                                        {{ form_widget(performanceByAssetClassForm.cash, {'attr':{'class':'form-control g-background-active-value-input'}}) }}
                                        {{ form_errors(performanceByAssetClassForm.cash) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-block btn-success">Save</button>
                                    </div>
                                </div>
                            </div>
                            {{ form_end(performanceByAssetClassForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.9/datepicker.min.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.1/datepicker.min.js"></script>
    <script>
        $(document).ready(function() {

            $('.js-datepicker').datepicker({
                changeMonth: true,
                format: 'mm yyyy',
            });
            $('.js-datepicker').on('change', function () {
                var months            = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
                var selectedMonthName = months[$(this).datepicker('getDate').getMonth()];
                var selectedYear      = $(this).datepicker('getDate').getFullYear();

                $(this).val(selectedMonthName + ' ' + selectedYear);
            })
        });
    </script>
{% endblock %}
