{% extends 'admin/layouts/main.html.twig' %}

{% form_theme sectorAllocationForm 'admin/form_layouts/custom_form_layout.html.twig' %}

{% block content %}
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-warning">
                        <div class="card-header">
                            <h3 class="card-title">General Elements</h3>
                        </div>
                        <div class="card-body">
                            {{ form_start(sectorAllocationForm) }}
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        {{ form_label(sectorAllocationForm.sector) }}
                                        {{ form_widget(sectorAllocationForm.sector, {'attr':{'class':'form-control g-background-active-value-input'}}) }}
                                        {{ form_errors(sectorAllocationForm.sector) }}
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        {{ form_label(sectorAllocationForm.longWeight) }}
                                        {{ form_widget(sectorAllocationForm.longWeight, {'attr':{'class':'form-control g-background-active-value-input'}}) }}
                                        {{ form_errors(sectorAllocationForm.longWeight) }}
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        {{ form_label(sectorAllocationForm.longParsedWeight) }}
                                        {{ form_widget(sectorAllocationForm.longParsedWeight, {'attr':{'class':'form-control'}}) }}
                                        {{ form_errors(sectorAllocationForm.longParsedWeight) }}
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        {{ form_label(sectorAllocationForm.shortWeight) }}
                                        {{ form_widget(sectorAllocationForm.shortWeight, {'attr':{'class':'form-control'}}) }}
                                        {{ form_errors(sectorAllocationForm .shortWeight) }}
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        {{ form_label(sectorAllocationForm.shortParsedWeight) }}
                                        {{ form_widget(sectorAllocationForm.shortParsedWeight, {'attr':{'class':'form-control'}}) }}
                                        {{ form_errors(sectorAllocationForm .shortParsedWeight) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-block btn-success">Save</button>
                                    </div>
                                </div>
                            </div>
                            {{ form_end(sectorAllocationForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}