{% extends 'admin/layouts/main.html.twig' %}

{% form_theme consumerCycForm 'admin/form_layouts/custom_form_layout.html.twig' %}

{% block content %}
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-warning">
                        <div class="card-header">
                            <h3 class="card-title">Edit</h3>
                        </div>
                        <div class="card-body">
                            {{ form_start(consumerCycForm) }}
                                <div class="row">
                                    <div class="col-2">
                                        <div class="form-group">
                                            {{ form_label(consumerCycForm.slug) }}
                                            {{ form_widget(consumerCycForm.slug, {'attr':{'class':'form-control'}}) }}
                                            {{ form_errors(consumerCycForm.slug) }}
                                        </div>
                                    </div>
                                    <div class="col-2" style="display: flex; justify-content: center; align-items: flex-end;">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-block btn-success">Save</button>
                                        </div>
                                    </div>
                                </div>
                            {{ form_end(consumerCycForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}