{% extends 'admin/layouts/main.html.twig' %}

{% block content %}
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-3">
                    <a href="{{ path('admin_pbs_consumer_create') }}" class="btn btn-block btn-info btn-flat mb-2">Create new</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Financial Instrument</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Slug</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for consumer in consumerResult %}
                                        <tr>
                                            <td>{{ consumer.id }}</td>
                                            <td>{{ consumer.slug }}</td>
                                            <td width="150px">
                                                <a href="{{ path('admin_pbs_consumer_edit', {'id':consumer.id}) }}" class="btn btn-block btn-primary btn-xs">Edit</a>
                                                <a href="{{ path('admin_pbs_consumer_delete', {'id':consumer.id}) }}" class="btn btn-block btn-danger btn-xs">Delete</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Slug</th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $("#example1").DataTable({
                "autoWidth": true,
                "pageLength": 50,
                "order": [[ 0, "desc" ]]
            });
        });
    </script>
{% endblock %}