{% extends 'admin/layouts/main.html.twig' %}

{% form_theme comparisonForm 'admin/form_layouts/custom_form_layout.html.twig' %}

{% block content %}
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>Create</h3>
                    <div class="card card-warning">
                        <div class="card-header">
                            <h3 class="card-title">General Elements</h3>
                        </div>
                        <div class="card-body">
                            {{ form_start(comparisonForm) }}

                            <div class="row">
                                <div class="col-2">
                                    <div class="form-group">
                                        {{ form_label(comparisonForm.date) }}
                                        {{ form_widget(comparisonForm.date, {'attr':{'class':'form-control g-background-active-value-input'}}) }}
                                        {{ form_errors(comparisonForm.date) }}
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        {{ form_label(comparisonForm.spxtr.returnValue) }}
                                        {{ form_widget(comparisonForm.spxtr.returnValue, {'attr':{'class':'form-control g-background-active-value-input'}}) }}
                                        {{ form_errors(comparisonForm.spxtr.returnValue) }}
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        {{ form_label(comparisonForm.efa.returnValue) }}
                                        {{ form_widget(comparisonForm.efa.returnValue, {'attr':{'class':'form-control g-background-active-value-input'}}) }}
                                        {{ form_errors(comparisonForm.efa.returnValue) }}
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        {{ form_label(comparisonForm.vt.returnValue) }}
                                        {{ form_widget(comparisonForm.vt.returnValue, {'attr':{'class':'form-control g-background-active-value-input'}}) }}
                                        {{ form_errors(comparisonForm.vt.returnValue) }}
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        {{ form_label(comparisonForm.consolidated.returnValue) }}
                                        {{ form_widget(comparisonForm.consolidated.returnValue, {'attr':{'class':'form-control g-background-active-value-input'}}) }}
                                        {{ form_errors(comparisonForm.consolidated.returnValue) }}
                                    </div>
                                </div>
                                <div class="col-2" style="display: flex; justify-content: center; align-items: flex-end;">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-block btn-success">Save</button>
                                    </div>
                                </div>
                            </div>
                            {{ form_end(comparisonForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.9/datepicker.min.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.1/datepicker.min.js"></script>
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.9/i18n/datepicker.en-US.min.js"></script>#}
    <script>
        $(document).ready(function() {

            $('.js-datepicker').datepicker({
                changeMonth: true,
                format: 'mm yyyy',
            });
            $('.js-datepicker').on('change', function () {
                var months            = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
                var selectedMonthName = months[$(this).datepicker('getDate').getMonth()];
                var selectedYear      = $(this).datepicker('getDate').getFullYear();

                $(this).val(selectedMonthName + ' ' + selectedYear);
            })
        });
    </script>
{% endblock %}