{% extends 'admin/layouts/main.html.twig' %}

{% block content %}
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            {{ form_start(titleForm) }}
                            <div class="row">
                                <div class="col-10">
                                    <div class="form-group">
                                        {{ form_label(titleForm.titlePBC) }}
                                        {{ form_widget(titleForm.titlePBC, {'attr':{'class':'form-control'}}) }}
                                        {{ form_errors(titleForm.titlePBC) }}
                                    </div>
                                </div>
                                <div class="col-2" style="display: flex; justify-content: center; align-items: flex-end;">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-block btn-success">Save</button>
                                    </div>
                                </div>
                            </div>
                            {{ form_end(titleForm) }}
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            {{ form_start(typeNameForm) }}
                            <div class="row">
                                <div class="col-5">
                                    <div class="row">
                                        <div class="col-7">
                                            <div class="form-group">
                                                {{ form_label(typeNameForm.spxtrName) }}
                                                {{ form_widget(typeNameForm.spxtrName, {'attr':{'class':'form-control'}}) }}
                                                {{ form_errors(typeNameForm.spxtrName) }}
                                            </div>
                                        </div>
                                        <div class="col-5">
                                            <div class="form-group">
                                                {{ form_label(typeNameForm.spxtrColor) }}
                                                {{ form_widget(typeNameForm.spxtrColor, {'attr':{'class':'form-control colorpicker'}}) }}
                                                {{ form_errors(typeNameForm.spxtrColor) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-7">
                                            <div class="form-group">
                                                {{ form_label(typeNameForm.efaName) }}
                                                {{ form_widget(typeNameForm.efaName, {'attr':{'class':'form-control'}}) }}
                                                {{ form_errors(typeNameForm.efaName) }}
                                            </div>
                                        </div>
                                        <div class="col-5">
                                            <div class="form-group">
                                                {{ form_label(typeNameForm.efaColor) }}
                                                {{ form_widget(typeNameForm.efaColor, {'attr':{'class':'form-control colorpicker'}}) }}
                                                {{ form_errors(typeNameForm.efaColor) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="row">
                                        <div class="col-7">
                                            <div class="form-group">
                                                {{ form_label(typeNameForm.vtName) }}
                                                {{ form_widget(typeNameForm.vtName, {'attr':{'class':'form-control'}}) }}
                                                {{ form_errors(typeNameForm.vtName) }}
                                            </div>
                                        </div>
                                        <div class="col-5">
                                            <div class="form-group">
                                                {{ form_label(typeNameForm.vtColor) }}
                                                {{ form_widget(typeNameForm.vtColor, {'attr':{'class':'form-control colorpicker'}}) }}
                                                {{ form_errors(typeNameForm.vtColor) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-7">
                                            <div class="form-group">
                                                {{ form_label(typeNameForm.consolidatedName) }}
                                                {{ form_widget(typeNameForm.consolidatedName, {'attr':{'class':'form-control'}}) }}
                                                {{ form_errors(typeNameForm.consolidatedName) }}
                                            </div>
                                        </div>
                                        <div class="col-5">
                                            <div class="form-group">
                                                {{ form_label(typeNameForm.consolidatedColor) }}
                                                {{ form_widget(typeNameForm.consolidatedColor, {'attr':{'class':'form-control colorpicker'}}) }}
                                                {{ form_errors(typeNameForm.consolidatedColor) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2" style="display: flex; justify-content: center; align-items: flex-end;">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-block btn-success">Save</button>
                                    </div>
                                </div>
                            </div>
                            {{ form_end(typeNameForm) }}
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <a href="{{ path('admin_pbc_create') }}" class="btn btn-block btn-info btn-flat mb-2">Create new</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Cumulative Benchmark Comparison</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th class="g-background-active-value">Date</th>
                                        <th>Type</th>
                                        <th class="g-background-active-value">Return</th>
                                        <th>Type</th>
                                        <th class="g-background-active-value">Return</th>
                                        <th>Type</th>
                                        <th class="g-background-active-value">Return</th>
                                        <th>Type</th>
                                        <th class="g-background-active-value">Return</th>
                                        <th>Controls</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for pbc in pbcResult %}
                                        <tr>
                                            <td>{{ pbc.id }}</td>
                                            <td class="g-background-active-value">{{ pbc.date }}</td>
                                            <td class="font-weight-bold">{{ pbc.spxtr.name|upper }}</td>
                                            <td class="g-background-active-value">{{ pbc.spxtr.returnValue }}</td>
                                            <td class="font-weight-bold">{{ pbc.efa.name|upper }}</td>
                                            <td class="g-background-active-value">{{ pbc.efa.returnValue }}</td>
                                            <td class="font-weight-bold">{{ pbc.vt.name|upper }}</td>
                                            <td class="g-background-active-value">{{ pbc.vt.returnValue }}</td>
                                            <td class="font-weight-bold">{{ pbc.consolidated.name|upper }}</td>
                                            <td class="g-background-active-value">{{ pbc.consolidated.returnValue }}</td>
                                            <td>
                                                <a href="{{ path('admin_pbc_edit', {'id':pbc.id}) }}" class="btn btn-block btn-primary btn-xs">Edit</a>
                                                <a href="{{ path('admin_pbc_delete', {'id':pbc.id}) }}" class="btn btn-block btn-danger btn-xs">Delete</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th class="g-background-active-value">Date</th>
                                        <th>Type</th>
                                        <th class="g-background-active-value">Return</th>
                                        <th>Type</th>
                                        <th class="g-background-active-value">Return</th>
                                        <th>Type</th>
                                        <th class="g-background-active-value">Return</th>
                                        <th>Type</th>
                                        <th class="g-background-active-value">Return</th>
                                        <th>Controls</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <main>
            <div class="blue-wrapper">
                <canvas id="myChart"></canvas>
            </div>
        </main>
        <br>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/plugins/forceDirected.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

    <script src="{{ asset('/build/front/js/charts.js') }}"></script>
    <script src="{{ asset('/build/front/js/rounded-chart.js') }}"></script>

    <script src="{{ asset('/build/admin/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js') }}"></script>

    <script>
        $(function () {
            $("#example1").DataTable({
                "autoWidth": true,
                "pageLength": 50,
                "order": [[ 0, "desc" ]]
            });

            $('.colorpicker').colorpicker();
        });
    </script>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app_admin') }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
    <link rel="stylesheet" href="{{ asset('/build/admin/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css') }}"/>
    <style>
        .colorpicker {
            display: block;
            height: 12px;
        }
    </style>
{% endblock %}