body {
    background-color: lightgray;
}

.chart-title {
    color: #FFFFFF !important;
}

.table_def th {
    color: #FFFFFF !important;
}

.table_def td {
    color: #FFFFFF !important;
}

.checkbox-custom {
    margin-left: 5px;
    vertical-align: middle;
}

.g-background-active-value {
    background-color: #afd2b7 !important;
}
.g-background-active-value-input {
    background-color: #e3ffe9 !important;
}