{% block FruitType_widget %}

    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        {{ form_label(form.title) }}
                        {{ form_widget(form.title, {'attr':{'class':'form-control'}}) }}
                        {{ form_errors(form.title) }}
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        {{ form_label(form.description) }}
                        {{ form_widget(form.description, {'attr':{'class':'form-control'}}) }}
                        {{ form_errors(form.description) }}
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        {{ form_label(form.image) }}
                        {{ form_widget(form.image) }}
                        {{ form_errors(form.image) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <a href="#" class="collection-remove btn btn-default" title="Delete fruit"><span class="glyphicon glyphicon-trash"></span></a>
            <a href="#" class="collection-add btn btn-default" title="Add fruit"><span class="glyphicon glyphicon-plus-sign"></span></a>
        </div>
    </div>

{% endblock %}