<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FinityX | Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('/build/admin/plugins/fontawesome-free/css/all.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/build/admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/build/admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/build/admin/plugins/jqvmap/jqvmap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/build/admin/css/adminlte.css') }}">
        <link rel="stylesheet" href="{{ asset('/build/admin/plugins/overlayScrollbars/css/OverlayScrollbars.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/build/admin/plugins/daterangepicker/daterangepicker.css') }}">
        <link rel="stylesheet" href="{{ asset('/build/admin/plugins/summernote/summernote-bs4.css') }}">

        {{ encore_entry_link_tags('app_admin') }}
    {% endblock %}

    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        {{ include('admin/nav/main.html.twig') }}

        {{ include('admin/aside/main.html.twig') }}

        <div class="content-wrapper">

            {{ include('admin/header/content_header.html.twig') }}

            <section class="content">
                {% block content %}{% endblock %}
            </section>
        </div>

        {{ include('admin/footer/main.html.twig') }}

        <aside class="control-sidebar control-sidebar-dark"></aside>
    </div>
    {% block javascripts %}
        <script src="{{ asset('/build/admin/plugins/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('/build/admin/plugins/jquery-ui/jquery-ui.min.js') }}"></script>
        <script>
            $.widget.bridge('uibutton', $.ui.button)
        </script>
        <script src="{{ asset('/build/admin/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('/build/admin/plugins/chart.js/Chart.min.js') }}"></script>
        <script src="{{ asset('/build/admin/plugins/sparklines/sparkline.js') }}"></script>
        <script src="{{ asset('/build/admin/plugins/jqvmap/jquery.vmap.min.js') }}"></script>
        <script src="{{ asset('/build/admin/plugins/jqvmap/maps/jquery.vmap.usa.js') }}"></script>
        <script src="{{ asset('/build/admin/plugins/jquery-knob/jquery.knob.min.js') }}"></script>
        <script src="{{ asset('/build/admin/plugins/moment/moment.min.js') }}"></script>
        <script src="{{ asset('/build/admin/plugins/daterangepicker/daterangepicker.js') }}"></script>
        <script src="{{ asset('/build/admin/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js') }}"></script>
        <script src="{{ asset('/build/admin/plugins/summernote/summernote-bs4.min.js') }}"></script>
        <script src="{{ asset('/build/admin/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js') }}"></script>
        <script src="{{ asset('/build/admin/plugins/datatables/jquery.dataTables.min.js') }}"></script>
        <script src="{{ asset('/build/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
        <script src="{{ asset('/build/admin/plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
        <script src="{{ asset('/build/admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
        <script src="{{ asset('/build/admin/plugins/jquery-mask/jquery-mask.min.js') }}"></script>
        <script src="{{ asset('/build/admin/js/adminlte.js') }}"></script>
        <script src="{{ asset('/build/admin/js/pages/dashboard.js') }}"></script>
        <script src="{{ asset('/build/admin/js/demo.js') }}"></script>

        {{ encore_entry_script_tags('app_admin') }}
    {% endblock %}
</body>
</html>
