{% extends 'front/layouts/main.html.twig' %}

{% block content %}
    <main class="main main_about">
        {% if (result is not empty) %}
            <div class="container">
                <div class="about-block animate__animated animate__fadeInDown">
                    <div class="about-block__cont">
                        <div class="about-block__title">{% if (result.whiteTitle is not empty) %}{{ result.whiteTitle}}{% endif %}<span>{% if (result.blueTitle is not empty) %} {{ result.blueTitle}}{% endif %}</span></div>
                        {% if (result.blueTitle is not empty) %}
                            <div class="about-block__txt">
                                {{ result.content|nl2br }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="advantage animate__animated animate__fadeInUp">
                    {% for part in result.aboutUsParts %}
                        <div class="advantage__item">
                            {% if (part.image is not empty) %}
                                <img src="{{ asset('/public/uploads/' ~ part.image.filename) }}" alt="">
                            {% endif %}
                            {% if (part.title is not empty) %}
                                <span>{{ part.title|nl2br }}</span>
                            {% endif %}
                            {% if (part.description is not empty) %}
                                <span>{{ part.description|nl2br }}</span>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </main>
    <div class="particles-cust" id="particles-js"></div>
{% endblock %}