{% extends 'admin/layouts/main.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <main class="main">
            <div>
                <div class="blue-wrapper">
                    <canvas id="myChart"></canvas>
                </div>
                <div class="mt-40">
                    <div class="d-flex flex-wrap-md">
                        <div class="blue-wrapper flex-1 flex-1_mr">
                            <canvas id="myChart5"></canvas>
                        </div>
                        <div class="blue-wrapper flex-1">
                            <canvas id="myChart6"></canvas>
                        </div>
                    </div>
                </div>
                <div class="mt-40">
                    <div class="d-flex flex-wrap-md">
                        <div class="blue-wrapper flex-40">
                            <canvas id="myChart2"></canvas>
                            <div class="mt-10">
                                <canvas id="myChart4"></canvas>
                            </div>
                        </div>
                        <div class="blue-wrapper flex-1">
                            <canvas id="myChart3" height="200"></canvas>
                        </div>
                    </div>
                </div>
                {% if rmbc is not empty %}
                    <div class="blue-wrapper mt-40">
                    <div class="table-wrapper">
                        <table class="table_def">
                            <tr>
                                <th></th>
                                <th>{{ rmbc.spxtr.type|upper }}</th>
                                <th>{{ rmbc.efa.type|upper }}</th>
                                <th>{{ rmbc.vt.type|upper }}</th>
                                <th>{{ rmbc.consolidated.type|upper }}</th>
                            </tr>
                            <tr>
                                <td><span>Ending VAMI:</span></td>
                                <td><span>{{ rmbc.spxtr.endingVami|dash }}</span></td>
                                <td><span>{{ rmbc.efa.endingVami|dash }}</span></td>
                                <td><span>{{ rmbc.vt.endingVami|dash }}</span></td>
                                <td><span>{{ rmbc.consolidated.endingVami|dash }}</span></td>
                            </tr>
                            <tr>
                                <td><span>Max Drawdown:</span></td>
                                <td><span>{{ rmbc.spxtr.maxDrawdown|dash }}</span></td>
                                <td><span>{{ rmbc.efa.maxDrawdown|dash }}</span></td>
                                <td><span>{{ rmbc.vt.maxDrawdown|dash }}</span></td>
                                <td><span>{{ rmbc.consolidated.maxDrawdown|dash }}</span></td>
                            </tr>
                            <tr>
                                <td><span>Peak-To-Valley:</span></td>
                                <td><span>{{ rmbc.spxtr.peakToValley|dash }}</span></td>
                                <td><span>{{ rmbc.efa.peakToValley|dash }}</span></td>
                                <td><span>{{ rmbc.vt.peakToValley|dash }}</span></td>
                                <td><span>{{ rmbc.consolidated.peakToValley|dash }}</span></td>
                            </tr>
                            <tr>
                                <td><span>Recovery:</span></td>
                                <td><span>{{ rmbc.spxtr.recovery|dash }}</span></td>
                                <td><span>{{ rmbc.efa.recovery|dash }}</span></td>
                                <td><span>{{ rmbc.vt.recovery|dash }}</span></td>
                                <td><span>{{ rmbc.consolidated.recovery|dash }}</span></td>
                            </tr>
                            <tr>
                                <td><span>Sharpe Ratio:</span></td>
                                <td><span>{{ rmbc.spxtr.sharpeRatio|dash }}</span></td>
                                <td><span>{{ rmbc.efa.sharpeRatio|dash }}</span></td>
                                <td><span>{{ rmbc.vt.sharpeRatio|dash }}</span></td>
                                <td><span>{{ rmbc.consolidated.sharpeRatio|dash }}</span></td>
                            </tr>
                            <tr>
                                <td><span>Sortino Ratio:</span></td>
                                <td><span>{{ rmbc.spxtr.sortinoRatio|dash }}</span></td>
                                <td><span>{{ rmbc.efa.sortinoRatio|dash }}</span></td>
                                <td><span>{{ rmbc.vt.sortinoRatio|dash }}</span></td>
                                <td><span>{{ rmbc.consolidated.sortinoRatio|dash }}</span></td>
                            </tr>
                            <tr>
                                <td><span>Standard Deviation:</span></td>
                                <td><span>{{ rmbc.spxtr.standardDeviation|dash }}%</span></td>
                                <td><span>{{ rmbc.efa.standardDeviation|dash }}%</span></td>
                                <td><span>{{ rmbc.vt.standardDeviation|dash }}%</span></td>
                                <td><span>{{ rmbc.consolidated.standardDeviation|dash }}%</span></td>
                            </tr>
                            <tr>
                                <td><span>Downside Deviation:</span></td>
                                {#                                <td><span class="icon-up"></span><span>6.86%</span></td>#}
                                <td><span>{{ rmbc.spxtr.downsideDeviation|dash }}%</span></td>
                                <td><span>{{ rmbc.efa.downsideDeviation|dash }}%</span></td>
                                <td><span>{{ rmbc.vt.downsideDeviation|dash }}%</span></td>
                                <td><span>{{ rmbc.consolidated.downsideDeviation|dash }}%</span></td>
                            </tr>
                            <tr>
                                <td><span>Correlation:</span></td>
                                <td><span>{{ rmbc.spxtr.correlation|dash }}</span></td>
                                <td><span>{{ rmbc.efa.correlation|dash }}</span></td>
                                <td><span>{{ rmbc.vt.correlation|dash }}</span></td>
                                <td><span>{{ rmbc.consolidated.correlation|dash }}</span></td>
                            </tr>
                            <tr>
                                <td><span>B:</span></td>
                                <td><span>{{ rmbc.spxtr.beta|dash }}</span></td>
                                <td><span>{{ rmbc.efa.beta|dash }}</span></td>
                                <td><span>{{ rmbc.vt.beta|dash }}</span></td>
                                <td><span>{{ rmbc.consolidated.beta|dash }}</span></td>
                            </tr>
                            <tr>
                                <td><span>a:</span></td>
                                <td><span>{{ rmbc.spxtr.alpha|dash }}</span></td>
                                <td><span>{{ rmbc.efa.alpha|dash }}</span></td>
                                <td><span>{{ rmbc.vt.alpha|dash }}</span></td>
                                <td><span>{{ rmbc.consolidated.alpha|dash }}</span></td>
                            </tr>
                            <tr>
                                <td><span>Mean Return:</span></td>
                                {#                                <td><span class="icon-down"></span><span>-2.05%</span></td>#}
                                {#                                <td><span class="icon-down"></span><span>-3.86%</span></td>#}
                                {#                                <td><span class="icon-down"></span><span>-2.85%</span></td>#}
                                {#                                <td><span class="icon-up"></span><span>0.55%</span></td>#}
                                <td><span>{{ rmbc.spxtr.meanReturn|dash }}%</span></td>
                                <td><span>{{ rmbc.efa.meanReturn|dash }}%</span></td>
                                <td><span>{{ rmbc.vt.meanReturn|dash }}%</span></td>
                                <td><span>{{ rmbc.consolidated.meanReturn|dash }}%</span></td>
                            </tr>
                            <tr>
                                <td><span>Positive Periods:</span></td>
                                <td><span>{{ rmbc.spxtr.positivePeriods|dash }}</span></td>
                                <td><span>{{ rmbc.efa.positivePeriods|dash }}</span></td>
                                <td><span>{{ rmbc.vt.positivePeriods|dash }}</span></td>
                                <td><span>{{ rmbc.consolidated.positivePeriods|dash }}</span></td>
                            </tr>
                            <tr>
                                <td><span>Negative Periods:</span></td>
                                <td><span>{{ rmbc.spxtr.negativePeriods|dash }}</span></td>
                                <td><span>{{ rmbc.efa.negativePeriods|dash }}</span></td>
                                <td><span>{{ rmbc.vt.negativePeriods|dash }}</span></td>
                                <td><span>{{ rmbc.consolidated.negativePeriods|dash }}</span></td>
                            </tr>
                        </table>
                    </div>
                </div>
                {% endif %}
                <div class="blue-wrapper mt-40">
                    <div id="chartdiv"></div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/plugins/forceDirected.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

    <script src="{{ asset('/build/front/js/charts.js') }}"></script>
    <script src="{{ asset('/build/front/js/rounded-chart.js') }}"></script>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app_admin') }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
{% endblock %}