<footer class="main-footer">
    <strong>2020 <a href="{{ path('front_home_index') }}">FINITYX</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 1.0.0
    </div>
</footer>