{% extends 'admin/layouts/main.html.twig' %}

{% form_theme sectorForm 'admin/form_layouts/custom_form_layout.html.twig' %}

{% block content %}
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-warning">
                        <div class="card-header">
                            <h3 class="card-title">General Elements</h3>
                        </div>
                        <div class="card-body">
                            {{ form_start(sectorForm) }}
                            <div class="row">
                                <div class="col-3">
                                    <div class="form-group">
                                        {{ form_label(sectorForm.slug) }}
                                        {{ form_widget(sectorForm.slug, {'attr':{'class':'form-control'}}) }}
                                        {{ form_errors(sectorForm.slug) }}
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        {{ form_label(sectorForm.color) }}
                                        {{ form_widget(sectorForm.color, {'attr':{'class':'form-control colorpicker'}}) }}
                                        {{ form_errors(sectorForm.color) }}
                                    </div>
                                </div>
                                <div class="col-6" style="display: flex; justify-content: center; align-items: flex-end;">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-block btn-success">Save</button>
                                    </div>
                                </div>
                            </div>
                            {{ form_end(sectorForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/build/admin/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js') }}"></script>
    <script>
        $(function () {
            $('.colorpicker').colorpicker();
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/build/admin/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css') }}"/>
    <style>
        .colorpicker {
            display: block;
            height: 12px;
        }
    </style>
{% endblock %}