<svg xmlns="http://www.w3.org/2000/svg" width="104.997" height="105" viewBox="0 0 104.997 105">
    <defs>
        <style>
            .a {
            fill: #04e3e6;
            }
        </style>
    </defs>
    <path class="a" d="M71.4,21.047a22.723,22.723,0,0,0-44.869,0,40.249,40.249,0,1,0,44.869,0Zm.28,4.532c.262.21.525.4.787.612-.3.245-.595.472-.892.717C71.623,26.471,71.658,26.016,71.676,25.579ZM70.433,32a39.374,39.374,0,0,0,4.62-3.43,36.574,36.574,0,0,1,10.6,24.114h-6.37a17.344,17.344,0,0,0-8.4-5.442,66.286,66.286,0,0,0-2.1-11.27A33.934,33.934,0,0,0,70.433,32ZM48.962,5.437a19.262,19.262,0,0,1,19.25,19.25c0,12.722-15.085,25.882-19.25,29.277-4.165-3.395-19.25-16.537-19.25-29.277a19.262,19.262,0,0,1,19.25-19.25Zm18.27,40.669c-1.435-.385-2.922-.717-4.41-1a52.771,52.771,0,0,0,3.447-4.725,57.352,57.352,0,0,1,.962,5.722Zm-32.129-1c-1.487.28-2.975.612-4.41,1a57.351,57.351,0,0,1,.962-5.722A52.771,52.771,0,0,0,35.1,45.108ZM26.247,25.579c.017.437.052.892.1,1.33-.3-.245-.595-.472-.892-.717C25.722,25.981,25.985,25.789,26.247,25.579ZM22.87,28.571A39.374,39.374,0,0,0,27.49,32a33.933,33.933,0,0,0,1.645,3.972,66.285,66.285,0,0,0-2.1,11.27,17.344,17.344,0,0,0-8.4,5.442h-6.37a36.574,36.574,0,0,1,10.6-24.114ZM12.3,56.186h5.162c0,3.99,4.077,7.052,10.062,9.117A62.709,62.709,0,0,0,29.94,75.47,40.584,40.584,0,0,0,22.9,80.317,36.716,36.716,0,0,1,12.3,56.186ZM25.512,82.7a36.771,36.771,0,0,1,5.67-3.92A33.839,33.839,0,0,0,37.989,89.5,36.411,36.411,0,0,1,25.512,82.7Zm21.7,8.312c-5.057-.98-9.73-6.125-12.88-13.79a36.656,36.656,0,0,1,12.88-2.992Zm0-20.282a40.249,40.249,0,0,0-14.087,3.2,57.225,57.225,0,0,1-1.89-7.542A73.069,73.069,0,0,0,47.212,68.4ZM20.962,56.186c0-2.695,5.9-6.352,16.817-7.962a79.515,79.515,0,0,0,10.132,9.362,1.75,1.75,0,0,0,2.1,0,79.516,79.516,0,0,0,10.132-9.362c10.92,1.61,16.817,5.267,16.817,7.962,0,3.657-10.657,8.75-28,8.75S20.962,59.843,20.962,56.186Zm45.726,10.2A57.224,57.224,0,0,1,64.8,73.93a40.249,40.249,0,0,0-14.087-3.2V68.4a73.069,73.069,0,0,0,15.977-2.012ZM50.711,91.01V74.228a36.656,36.656,0,0,1,12.88,2.992C60.441,84.885,55.769,90.03,50.711,91.01Zm9.222-1.5a33.839,33.839,0,0,0,6.807-10.727,36.772,36.772,0,0,1,5.67,3.92A36.411,36.411,0,0,1,59.934,89.5Zm15.085-9.187a40.585,40.585,0,0,0-7.035-4.847A62.709,62.709,0,0,0,70.4,65.3c5.985-2.065,10.062-5.127,10.062-9.117h5.162a36.716,36.716,0,0,1-10.6,24.132Z" transform="translate(3.537 -1.934)"></path>
    <path class="a" d="M15.935,17.085v4.062h3.5V12.4a1.75,1.75,0,0,0-1.75-1.75H8.936v3.5h4.886A52.479,52.479,0,0,0,12.8,79.376l2.774-2.133a49.007,49.007,0,0,1,.364-60.158Z" transform="translate(-1.936 5.105)"></path>
    <path class="a" d="M47.4,64.331a48.752,48.752,0,0,1-30.311-10.5h4.062v-3.5H12.4a1.75,1.75,0,0,0-1.75,1.75v8.75h3.5V55.945a52.478,52.478,0,0,0,65.837.549l-2.175-2.742A48.474,48.474,0,0,1,47.4,64.331Z" transform="translate(5.102 37.169)"></path>
    <path class="a" d="M67.831,45.536A51.953,51.953,0,0,0,56.495,12.949l-2.742,2.175a49,49,0,0,1,.079,60.723V71.786h-3.5v8.75a1.75,1.75,0,0,0,1.75,1.75h8.75v-3.5H55.945A52.231,52.231,0,0,0,67.831,45.536Z" transform="translate(37.166 6.965)"></path>
    <path class="a" d="M48.7,19.025a12.25,12.25,0,1,0-12.25,12.25A12.25,12.25,0,0,0,48.7,19.025Zm-21,0a8.75,8.75,0,1,1,8.75,8.75A8.75,8.75,0,0,1,27.7,19.025Z" transform="translate(16.051 1.977)"></path>
</svg>