<svg xmlns="http://www.w3.org/2000/svg" width="92.507" height="105" viewBox="0 0 92.507 105">
    <defs>
        <style>
            .a {
            fill: #04e3e6;
            }
        </style>
    </defs>
    <path class="a" d="M28.959,42.614a1.639,1.639,0,0,0-.59-.02,3.916,3.916,0,0,1-3.463-3.883,1.722,1.722,0,1,0-3.445,0,7.368,7.368,0,0,0,5.418,7.094v1.722a1.722,1.722,0,1,0,3.445,0V45.91a7.355,7.355,0,0,0-1.507-14.553,3.911,3.911,0,1,1,3.911-3.911,1.722,1.722,0,1,0,3.445,0,7.368,7.368,0,0,0-5.848-7.2V18.68a1.722,1.722,0,1,0-3.445,0v1.673A7.354,7.354,0,0,0,28.816,34.8a3.908,3.908,0,0,1,.143,7.813Zm0,0" transform="translate(18.514 14.69)"></path>
    <path class="a" d="M12.019,37.26A24.975,24.975,0,1,0,36.995,12.284,24.975,24.975,0,0,0,12.019,37.26ZM36.995,15.729A21.531,21.531,0,1,1,15.464,37.26,21.53,21.53,0,0,1,36.995,15.729Zm0,0" transform="translate(10.335 10.642)"></path>
    <path class="a" d="M80.837,44.509,67.345,50.884A10.989,10.989,0,0,0,57.977,45.1l-12.455-.342A13.154,13.154,0,0,1,39.861,43.3l-1.267-.657a22.354,22.354,0,0,0-20.706.022l.079-2.871a1.722,1.722,0,0,0-1.674-1.769L2.636,37.648A1.722,1.722,0,0,0,.867,39.322L.042,69.292a1.722,1.722,0,0,0,1.674,1.769l13.657.376h.047a1.722,1.722,0,0,0,1.722-1.675l.04-1.434,3.548-1.9a6.086,6.086,0,0,1,4.542-.5L46.46,71.878c.037.011.074.019.112.028a22.681,22.681,0,0,0,4.656.48,22.98,22.98,0,0,0,9.6-2.095,1.6,1.6,0,0,0,.214-.118L91.762,50.3a1.723,1.723,0,0,0,.564-2.294,8.7,8.7,0,0,0-11.489-3.5ZM3.533,67.666l.73-26.528,10.214.281-.73,26.528Zm55.744-.451a19.528,19.528,0,0,1-11.942,1.333L26.2,62.617a9.523,9.523,0,0,0-7.1.776l-1.813.971.485-17.638A18.932,18.932,0,0,1,37.01,45.7l1.267.657a16.635,16.635,0,0,0,7.15,1.847l12.456.342a7.554,7.554,0,0,1,7.179,6.02L46.51,54.054a1.723,1.723,0,1,0-.1,3.444l20.474.563h.048a1.722,1.722,0,0,0,1.721-1.675,10.93,10.93,0,0,0-.167-2.234l13.838-6.539.04-.019a5.262,5.262,0,0,1,5.951.833Zm0,0" transform="translate(-0.041 32.614)"></path>
    <path class="a" d="M27.923,18.084V1.722a1.722,1.722,0,0,0-3.445,0V18.084a1.722,1.722,0,0,0,3.445,0Zm0,0" transform="translate(21.129)"></path>
    <path class="a" d="M34.845,14.087V6.337a1.722,1.722,0,0,0-3.445,0v7.75a1.722,1.722,0,0,0,3.445,0Zm0,0" transform="translate(27.125 3.997)"></path>
    <path class="a" d="M21,14.087V6.337a1.722,1.722,0,1,0-3.445,0v7.75a1.722,1.722,0,0,0,3.445,0Zm0,0" transform="translate(15.133 3.997)"></path>
</svg>