<svg xmlns="http://www.w3.org/2000/svg" width="104.055" height="104.055" viewBox="0 0 104.055 104.055">
    <defs>
        <style>
            .a {
            fill: #04e3e6;
            }
        </style>
    </defs>
    <g transform="translate(21.678 21.678)">
        <path class="a" d="M48.952,94.476H35.945c-3.035,0-6.5-2.6-6.5-7.8v-9.1c0-4.336-2.168-8.238-5.636-11.273A29.97,29.97,0,0,1,12.1,42.015,30.855,30.855,0,0,1,42.015,12.1,30.471,30.471,0,0,1,63.693,20.77a30.866,30.866,0,0,1,9.1,21.678A29.158,29.158,0,0,1,61.525,65.861,15.83,15.83,0,0,0,55.455,78v9.972a6.668,6.668,0,0,1-6.5,6.5Zm-6.5-78.041c-13.874,0-25.58,11.706-26.014,25.58,0,8.238,3.469,16.042,9.972,20.811a18.894,18.894,0,0,1,7.371,14.741v9.1c0,.867,0,3.468,2.168,3.468H48.952a2.048,2.048,0,0,0,2.168-2.168V78c0-5.636,3.035-11.706,7.8-15.608a25.282,25.282,0,0,0,9.538-19.944,25.917,25.917,0,0,0-7.8-18.643,25.557,25.557,0,0,0-18.21-7.371Z" transform="translate(-12.099 -12.099)"></path>
    </g>
    <g transform="translate(39.021 86.713)">
        <path class="a" d="M45.624,52.732H23.946a2.168,2.168,0,0,1,0-4.336H45.624a2.168,2.168,0,1,1,0,4.336Z" transform="translate(-21.778 -48.397)"></path>
    </g>
    <g transform="translate(49.86 0)">
        <path class="a" d="M30,13.007a2.048,2.048,0,0,1-2.168-2.168V2.168a2.168,2.168,0,1,1,4.336,0v8.671A2.048,2.048,0,0,1,30,13.007Z" transform="translate(-27.828 0)"></path>
    </g>
    <g transform="translate(78.692 14.958)">
        <path class="a" d="M46.3,18.537A2.607,2.607,0,0,1,44.57,18.1a2.1,2.1,0,0,1,0-3.035L50.64,9a2.146,2.146,0,0,1,3.035,3.035l-6.07,6.07a4.367,4.367,0,0,1-1.3.434Z" transform="translate(-43.92 -8.348)"></path>
    </g>
    <g transform="translate(91.048 49.86)">
        <path class="a" d="M61.656,32.164H52.984a2.168,2.168,0,1,1,0-4.336h8.671a2.168,2.168,0,0,1,0,4.336Z" transform="translate(-50.816 -27.828)"></path>
    </g>
    <g transform="translate(78.692 79.125)">
        <path class="a" d="M52.374,54.351a2.607,2.607,0,0,1-1.734-.434l-6.07-6.07a2.146,2.146,0,0,1,3.035-3.035l6.07,6.07a2.1,2.1,0,0,1,0,3.035c0,.434-.434.434-1.3.434Z" transform="translate(-43.92 -44.162)"></path>
    </g>
    <g transform="translate(14.524 79.125)">
        <path class="a" d="M10.491,54.351a2.607,2.607,0,0,1-1.734-.434,2.1,2.1,0,0,1,0-3.035l6.07-6.07a2.146,2.146,0,0,1,3.035,3.035l-6.07,6.07a1.593,1.593,0,0,1-1.3.434Z" transform="translate(-8.106 -44.162)"></path>
    </g>
    <g transform="translate(0 49.86)">
        <path class="a" d="M10.839,32.164H2.168a2.168,2.168,0,1,1,0-4.336h8.671a2.168,2.168,0,1,1,0,4.336Z" transform="translate(0 -27.828)"></path>
    </g>
    <g transform="translate(14.524 14.524)">
        <path class="a" d="M16.561,18.729a2.607,2.607,0,0,1-1.734-.434l-6.07-6.5a2.146,2.146,0,0,1,3.035-3.035l6.07,6.07a2.1,2.1,0,0,1,0,3.035c-.434.434-.867.867-1.3.867Z" transform="translate(-8.106 -8.106)"></path>
    </g>
    <g transform="translate(49.86 32.517)">
        <path class="a" d="M47.338,39.827a2.048,2.048,0,0,1-2.168-2.168A15.362,15.362,0,0,0,30,22.484a2.048,2.048,0,0,1-2.168-2.168A2.048,2.048,0,0,1,30,18.149a19.429,19.429,0,0,1,19.51,19.51A2.048,2.048,0,0,1,47.338,39.827Z" transform="translate(-27.828 -18.149)"></path>
    </g>
</svg>