<svg xmlns="http://www.w3.org/2000/svg" width="104.998" height="105" viewBox="0 0 104.998 105">
    <defs>
        <style>
            .a {
            fill: #04e3e6;
            }
        </style>
    </defs>
    <g transform="translate(0 0)">
        <g transform="translate(0 0)">
            <path class="a" d="M95.476,85.8a8.421,8.421,0,0,0,2.749-6.2V76.21A8.468,8.468,0,0,0,81.46,74.517H75.9a5.051,5.051,0,0,0-9.538,0H60.8a8.494,8.494,0,0,0-6.6-6.6v-3.8a6.765,6.765,0,0,0,5.081-6.533h1.694a1.692,1.692,0,0,0,1.694-1.694V50.808h3.387V47.421H62.661V47.4a11.641,11.641,0,0,1,4.213-8.731A22,22,0,0,0,51.592.021a22.293,22.293,0,0,0-21.1,21.6,21.958,21.958,0,0,0,7.5,16.932,12.351,12.351,0,0,1,4.339,8.872h-3.37v3.387h3.387v5.081a1.691,1.691,0,0,0,1.694,1.694h1.694a6.764,6.764,0,0,0,5.081,6.533v3.8a8.5,8.5,0,0,0-6.6,6.6H38.64a5.051,5.051,0,0,0-9.538,0H23.539A8.468,8.468,0,0,0,6.775,76.21V79.6a8.42,8.42,0,0,0,2.748,6.2A15.258,15.258,0,0,0,0,99.92v3.387A1.691,1.691,0,0,0,1.694,105h27.1a1.692,1.692,0,0,0,1.694-1.694V99.92A15.259,15.259,0,0,0,20.961,85.8a8.421,8.421,0,0,0,2.749-6.2V77.9H29.1a5.051,5.051,0,0,0,9.538,0h5.392V79.6a8.42,8.42,0,0,0,2.748,6.2A15.258,15.258,0,0,0,37.258,99.92v3.387A1.691,1.691,0,0,0,38.952,105h27.1a1.692,1.692,0,0,0,1.694-1.694V99.92A15.259,15.259,0,0,0,58.219,85.8a8.421,8.421,0,0,0,2.749-6.2V77.9h5.391a5.051,5.051,0,0,0,9.538,0h5.392V79.6a8.42,8.42,0,0,0,2.748,6.2A15.258,15.258,0,0,0,74.515,99.92v3.387A1.691,1.691,0,0,0,76.209,105h27.1A1.692,1.692,0,0,0,105,103.307V99.92A15.259,15.259,0,0,0,95.476,85.8ZM27.1,99.919v1.693H23.71V98.226H20.323v3.387H10.162V98.226H6.775v3.387H3.388V99.919a11.855,11.855,0,1,1,23.709,0ZM10.162,79.6V76.21a5.081,5.081,0,1,1,10.161,0V79.6a5.081,5.081,0,1,1-10.161,0ZM33.871,77.9a1.694,1.694,0,1,1,1.694-1.694A1.694,1.694,0,0,1,33.871,77.9ZM40.214,36a18.573,18.573,0,0,1-6.34-14.325A18.862,18.862,0,0,1,51.727,3.4,18.613,18.613,0,0,1,64.662,36.1a15.029,15.029,0,0,0-5.388,11.3v.018H45.708A15.729,15.729,0,0,0,40.214,36ZM59.274,50.808v3.387H45.726V50.808ZM49.113,57.582h6.774a3.387,3.387,0,1,1-6.774,0ZM64.354,99.92v1.694H60.967V98.226H57.58v3.387H47.419V98.226H44.032v3.387H40.645V99.92a11.855,11.855,0,0,1,23.709,0ZM47.419,79.6V76.21a5.081,5.081,0,1,1,10.161,0V79.6a5.081,5.081,0,0,1-10.161,0ZM71.128,77.9a1.694,1.694,0,1,1,1.694-1.694A1.694,1.694,0,0,1,71.128,77.9ZM84.676,79.6V76.21a5.081,5.081,0,1,1,10.161,0V79.6a5.081,5.081,0,1,1-10.161,0Zm16.935,22.016H98.224V98.226H94.837v3.387H84.676V98.226H81.289v3.387H77.9V99.92a11.855,11.855,0,0,1,23.709,0Zm0,0" transform="translate(-0.001 0)"></path>
        </g>
        <path class="a" d="M25.043,20.726h6.774v3.387H25.043Zm0,0" transform="translate(24.069 19.921)"></path>
        <path class="a" d="M30.886,25.333v3.558h3.387V25.333a8.4,8.4,0,0,0,2.969-1.24L39.85,26.7l2.394-2.395L39.636,21.7a8.42,8.42,0,0,0,1.24-2.969h3.558V15.343H40.876a8.42,8.42,0,0,0-1.24-2.969l2.607-2.608L39.85,7.372,37.242,9.98a8.4,8.4,0,0,0-2.969-1.24V5.182H30.886V8.741a8.4,8.4,0,0,0-2.969,1.24L25.309,7.372,22.915,9.767l2.608,2.608a8.406,8.406,0,0,0-1.24,2.969H20.725V18.73h3.557a8.406,8.406,0,0,0,1.24,2.969l-2.608,2.608L25.309,26.7l2.608-2.608A8.4,8.4,0,0,0,30.886,25.333ZM32.58,11.956A5.081,5.081,0,1,1,27.5,17.037a5.087,5.087,0,0,1,5.081-5.081Zm0,0" transform="translate(19.919 4.981)"></path>
    </g>
</svg>