{% extends 'admin/layouts/main.html.twig' %}

{% block content %}
    <div>
        {% set form = riskMeasuresBenchmarkComparisonForm %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Risk Measures Benchmark Comparison - CREATE</h3>
                        </div>
                        {{ form_start(form) }}
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-block btn-primary btn-lg">Save</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card card-success">
                                    <div class="card-header">
                                        <h3 class="card-title">Spxtr</h3>
                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.spxtr.endingVami) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_widget(form.spxtr.endingVami) }}
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="form-group">
                                                    {{ form_errors(form.spxtr.endingVami) }}
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="form-group">
                                                    {{ form_widget(form.spxtr.showItem) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.spxtr.maxDrawdown) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_widget(form.spxtr.maxDrawdown) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.spxtr.maxDrawdown) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.spxtr.peakToValley) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_widget(form.spxtr.peakToValley) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.spxtr.peakToValley) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.spxtr.recovery) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_widget(form.spxtr.recovery) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.spxtr.recovery) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.spxtr.sharpeRatio) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_widget(form.spxtr.sharpeRatio) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.spxtr.sharpeRatio) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.spxtr.sortinoRatio) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_widget(form.spxtr.sortinoRatio) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.spxtr.sortinoRatio) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.spxtr.standardDeviation) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_widget(form.spxtr.standardDeviation) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.spxtr.standardDeviation) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.spxtr.downsideDeviation) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_widget(form.spxtr.downsideDeviation) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.spxtr.downsideDeviation) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.spxtr.correlation) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_widget(form.spxtr.correlation) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.spxtr.correlation) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.spxtr.beta) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_widget(form.spxtr.beta) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.spxtr.beta) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.spxtr.alpha) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_widget(form.spxtr.alpha) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.spxtr.alpha) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.spxtr.meanReturn) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_widget(form.spxtr.meanReturn) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.spxtr.meanReturn) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.spxtr.positivePeriods) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-3">
                                                            {{ form_widget(form.spxtr.positivePeriods.period_integer) }}
                                                            {{ form_errors(form.spxtr.positivePeriods.period_integer) }}
                                                        </div>
                                                        <div class="col-3">
                                                            {{ form_widget(form.spxtr.positivePeriods.period_persent) }}
                                                        </div>
                                                        <div class="col-6">
                                                            {{ form_errors(form.spxtr.positivePeriods.period_persent) }}
                                                            {{ form_errors(form.spxtr.positivePeriods.period_integer) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.spxtr.positivePeriods) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.spxtr.negativePeriods) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-3">
                                                            {{ form_widget(form.spxtr.negativePeriods.period_integer) }}
                                                            {{ form_errors(form.spxtr.negativePeriods.period_integer) }}
                                                        </div>
                                                        <div class="col-3">
                                                            {{ form_widget(form.spxtr.negativePeriods.period_persent) }}
                                                        </div>
                                                        <div class="col-6">
                                                            {{ form_errors(form.spxtr.negativePeriods.period_persent) }}
                                                            {{ form_errors(form.spxtr.negativePeriods.period_integer) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.spxtr.negativePeriods) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title">Efa</h3>
                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.efa.endingVami) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_widget(form.efa.endingVami) }}
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="form-group">
                                                    {{ form_errors(form.efa.endingVami) }}
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="form-group">
                                                    {{ form_widget(form.efa.showItem) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.efa.maxDrawdown) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_widget(form.efa.maxDrawdown) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.efa.maxDrawdown) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.efa.peakToValley) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_widget(form.efa.peakToValley) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.efa.peakToValley) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.efa.recovery) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_widget(form.efa.recovery) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.efa.recovery) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.efa.sharpeRatio) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_widget(form.efa.sharpeRatio) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.efa.sharpeRatio) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.efa.sortinoRatio) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_widget(form.efa.sortinoRatio) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.efa.sortinoRatio) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.efa.standardDeviation) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_widget(form.efa.standardDeviation) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.efa.standardDeviation) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.efa.downsideDeviation) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_widget(form.efa.downsideDeviation) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.efa.downsideDeviation) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.efa.correlation) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_widget(form.efa.correlation) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.efa.correlation) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.efa.beta) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_widget(form.efa.beta) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.efa.beta) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.efa.alpha) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_widget(form.efa.alpha) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.efa.alpha) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.efa.meanReturn) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_widget(form.efa.meanReturn) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.efa.meanReturn) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.efa.positivePeriods) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-3">
                                                            {{ form_widget(form.efa.positivePeriods.period_integer) }}
                                                            {{ form_errors(form.efa.positivePeriods.period_integer) }}
                                                        </div>
                                                        <div class="col-3">
                                                            {{ form_widget(form.efa.positivePeriods.period_persent) }}
                                                        </div>
                                                        <div class="col-6">
                                                            {{ form_errors(form.efa.positivePeriods.period_persent) }}
                                                            {{ form_errors(form.efa.positivePeriods.period_integer) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.efa.positivePeriods) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.efa.negativePeriods) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-3">
                                                            {{ form_widget(form.efa.negativePeriods.period_integer) }}
                                                            {{ form_errors(form.efa.negativePeriods.period_integer) }}
                                                        </div>
                                                        <div class="col-3">
                                                            {{ form_widget(form.efa.negativePeriods.period_persent) }}
                                                        </div>
                                                        <div class="col-6">
                                                            {{ form_errors(form.efa.negativePeriods.period_persent) }}
                                                            {{ form_errors(form.efa.negativePeriods.period_integer) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.efa.negativePeriods) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card card-warning">
                                    <div class="card-header">
                                        <h3 class="card-title">Vt</h3>
                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.vt.endingVami) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_widget(form.vt.endingVami) }}
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="form-group">
                                                    {{ form_errors(form.vt.endingVami) }}
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="form-group">
                                                    {{ form_widget(form.vt.showItem) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.vt.maxDrawdown) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_widget(form.vt.maxDrawdown) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.vt.maxDrawdown) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.vt.peakToValley) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_widget(form.vt.peakToValley) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.vt.peakToValley) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.vt.recovery) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_widget(form.vt.recovery) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.vt.recovery) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.vt.sharpeRatio) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_widget(form.vt.sharpeRatio) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.vt.sharpeRatio) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.vt.sortinoRatio) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_widget(form.vt.sortinoRatio) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.vt.sortinoRatio) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.vt.standardDeviation) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_widget(form.vt.standardDeviation) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.vt.standardDeviation) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.vt.downsideDeviation) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_widget(form.vt.downsideDeviation) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.vt.downsideDeviation) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.vt.correlation) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_widget(form.vt.correlation) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.vt.correlation) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.vt.beta) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_widget(form.vt.beta) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.vt.beta) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.vt.alpha) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_widget(form.vt.alpha) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.vt.alpha) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.vt.meanReturn) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_widget(form.vt.meanReturn) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.vt.meanReturn) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.vt.positivePeriods) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-3">
                                                            {{ form_widget(form.vt.positivePeriods.period_integer) }}
                                                            {{ form_errors(form.vt.positivePeriods.period_integer) }}
                                                        </div>
                                                        <div class="col-3">
                                                            {{ form_widget(form.vt.positivePeriods.period_persent) }}
                                                        </div>
                                                        <div class="col-6">
                                                            {{ form_errors(form.vt.positivePeriods.period_persent) }}
                                                            {{ form_errors(form.vt.positivePeriods.period_integer) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.vt.positivePeriods) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.vt.negativePeriods) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-3">
                                                            {{ form_widget(form.vt.negativePeriods.period_integer) }}
                                                            {{ form_errors(form.vt.negativePeriods.period_integer) }}
                                                        </div>
                                                        <div class="col-3">
                                                            {{ form_widget(form.vt.negativePeriods.period_persent) }}
                                                        </div>
                                                        <div class="col-6">
                                                            {{ form_errors(form.vt.negativePeriods.period_persent) }}
                                                            {{ form_errors(form.vt.negativePeriods.period_integer) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.vt.negativePeriods) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card card-danger">
                                    <div class="card-header">
                                        <h3 class="card-title">Consolidated</h3>
                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.consolidated.endingVami) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_widget(form.consolidated.endingVami) }}
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="form-group">
                                                    {{ form_errors(form.consolidated.endingVami) }}
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="form-group">
                                                    {{ form_widget(form.consolidated.showItem) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.consolidated.maxDrawdown) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_widget(form.consolidated.maxDrawdown) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.consolidated.maxDrawdown) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.consolidated.peakToValley) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_widget(form.consolidated.peakToValley) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.consolidated.peakToValley) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.consolidated.recovery) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_widget(form.consolidated.recovery) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.consolidated.recovery) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.consolidated.sharpeRatio) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_widget(form.consolidated.sharpeRatio) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.consolidated.sharpeRatio) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.consolidated.sortinoRatio) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_widget(form.consolidated.sortinoRatio) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.consolidated.sortinoRatio) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.consolidated.standardDeviation) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_widget(form.consolidated.standardDeviation) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.consolidated.standardDeviation) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.consolidated.downsideDeviation) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_widget(form.consolidated.downsideDeviation) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.consolidated.downsideDeviation) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.consolidated.correlation) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_widget(form.consolidated.correlation) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.consolidated.correlation) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.consolidated.beta) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_widget(form.consolidated.beta) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.consolidated.beta) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.consolidated.alpha) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_widget(form.consolidated.alpha) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.consolidated.alpha) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.consolidated.meanReturn) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_widget(form.consolidated.meanReturn) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.consolidated.meanReturn) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.consolidated.positivePeriods) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-3">
                                                            {{ form_widget(form.consolidated.positivePeriods.period_integer) }}
                                                            {{ form_errors(form.consolidated.positivePeriods.period_integer) }}
                                                        </div>
                                                        <div class="col-3">
                                                            {{ form_widget(form.consolidated.positivePeriods.period_persent) }}
                                                        </div>
                                                        <div class="col-6">
                                                            {{ form_errors(form.consolidated.positivePeriods.period_persent) }}
                                                            {{ form_errors(form.consolidated.positivePeriods.period_integer) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.consolidated.positivePeriods) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_label(form.consolidated.negativePeriods) }}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-3">
                                                            {{ form_widget(form.consolidated.negativePeriods.period_integer) }}
                                                            {{ form_errors(form.consolidated.negativePeriods.period_integer) }}
                                                        </div>
                                                        <div class="col-3">
                                                            {{ form_widget(form.consolidated.negativePeriods.period_persent) }}
                                                        </div>
                                                        <div class="col-6">
                                                            {{ form_errors(form.consolidated.negativePeriods.period_persent) }}
                                                            {{ form_errors(form.consolidated.negativePeriods.period_integer) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.consolidated.negativePeriods) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-block btn-primary btn-lg">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('.periods').mask('00 (000)');
        });
    </script>
{% endblock %}