{% extends 'admin/layouts/main.html.twig' %}

{% block content %}
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            {{ form_start(titleForm) }}
                            <div class="row">
                                <div class="col-10">
                                    <div class="form-group">
                                        {{ form_label(titleForm.activeRMBC) }}
                                        {{ form_widget(titleForm.activeRMBC) }}
                                        {{ form_errors(titleForm.activeRMBC) }}
                                    </div>
                                </div>
                                <div class="col-2" style="display: flex; justify-content: center; align-items: flex-end;">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-block btn-success">Save</button>
                                    </div>
                                </div>
                            </div>
                            {{ form_end(titleForm) }}
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            {{ form_start(typeNameForm) }}
                            <div class="row">
                                <div class="col-5">
                                    <div class="form-group">
                                        {{ form_label(typeNameForm.spxtrName) }}
                                        {{ form_widget(typeNameForm.spxtrName, {'attr':{'class':'form-control'}}) }}
                                        {{ form_errors(typeNameForm.spxtrName) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(typeNameForm.efaName) }}
                                        {{ form_widget(typeNameForm.efaName, {'attr':{'class':'form-control'}}) }}
                                        {{ form_errors(typeNameForm.efaName) }}
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="form-group">
                                        {{ form_label(typeNameForm.vtName) }}
                                        {{ form_widget(typeNameForm.vtName, {'attr':{'class':'form-control'}}) }}
                                        {{ form_errors(typeNameForm.vtName) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(typeNameForm.consolidatedName) }}
                                        {{ form_widget(typeNameForm.consolidatedName, {'attr':{'class':'form-control'}}) }}
                                        {{ form_errors(typeNameForm.consolidatedName) }}
                                    </div>
                                </div>
                                <div class="col-2" style="display: flex; justify-content: center; align-items: flex-end;">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-block btn-success">Save</button>
                                    </div>
                                </div>
                            </div>
                            {{ form_end(typeNameForm) }}
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    {% if rmbcResult|length == 0 %}
                        <a href="{{ path('admin_rmbc_create') }}" class="btn btn-block btn-info btn-flat mb-2">Create new</a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Risk Measures Benchmark Comparison</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            {% if rmbcResult|length != 0 %}
                                <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Option</th>
                                        <th>Type</th>
                                        <th>Value</th>
                                        <th>Type</th>
                                        <th>Value</th>
                                        <th>Type</th>
                                        <th>Value</th>
                                        <th>Type</th>
                                        <th>Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for rmbc in rmbcResult %}
                                        <a href="{{ path('admin_rmbc_edit', {'id':rmbc.id }) }}" class="btn btn-block btn-info btn-flat mb-2" style="max-width: 150px;">Edit</a>
                                        <tr>
                                            <td>RMBC</td>
                                            <td>Ending VAMI:</td>
                                            <td class="font-weight-bold {% if rmbc.spxtr.showItem != true %}bg-red{% endif %}">{{ rmbc.spxtr.name }}</td>
                                            <td class="{% if rmbc.spxtr.showItem != true %}bg-red{% endif %}">{{ rmbc.spxtr.endingVami }}</td>
                                            <td class="font-weight-bold {% if rmbc.efa.showItem != true %}bg-red{% endif %}">{{ rmbc.efa.name }}</td>
                                            <td class="{% if rmbc.efa.showItem != true %}bg-red{% endif %}">{{ rmbc.efa.endingVami }}</td>
                                            <td class="font-weight-bold {% if rmbc.vt.showItem != true %}bg-red{% endif %}">{{ rmbc.vt.name }}</td>
                                            <td class="{% if rmbc.vt.showItem != true %}bg-red{% endif %}">{{ rmbc.vt.endingVami }}</td>
                                            <td class="font-weight-bold {% if rmbc.consolidated.showItem != true %}bg-red{% endif %}">{{ rmbc.consolidated.name }}</td>
                                            <td class="{% if rmbc.consolidated.showItem != true %}bg-red{% endif %}">{{ rmbc.consolidated.endingVami }}</td>
                                        </tr>
                                        <tr>
                                            <td>RMBC</td>
                                            <td>Max Drawdown:</td>
                                            <td class="font-weight-bold {% if rmbc.spxtr.showItem != true %}bg-red{% endif %}">{{ rmbc.spxtr.name }}</td>
                                            <td class="{% if rmbc.spxtr.showItem != true %}bg-red{% endif %}">{{ rmbc.spxtr.maxDrawdown }}</td>
                                            <td class="font-weight-bold {% if rmbc.efa.showItem != true %}bg-red{% endif %}">{{ rmbc.efa.name }}</td>
                                            <td class="{% if rmbc.efa.showItem != true %}bg-red{% endif %}">{{ rmbc.efa.maxDrawdown }}</td>
                                            <td class="font-weight-bold {% if rmbc.vt.showItem != true %}bg-red{% endif %}">{{ rmbc.vt.name }}</td>
                                            <td class="{% if rmbc.vt.showItem != true %}bg-red{% endif %}">{{ rmbc.vt.maxDrawdown }}</td>
                                            <td class="font-weight-bold {% if rmbc.consolidated.showItem != true %}bg-red{% endif %}">{{ rmbc.consolidated.name }}</td>
                                            <td class="{% if rmbc.consolidated.showItem != true %}bg-red{% endif %}">{{ rmbc.consolidated.maxDrawdown }}</td>
                                        </tr>
                                        <tr>
                                            <td>RMBC</td>
                                            <td>Peak-To-Valley:</td>
                                            <td class="font-weight-bold {% if rmbc.spxtr.showItem != true %}bg-red{% endif %}">{{ rmbc.spxtr.name }}</td>
                                            <td class="{% if rmbc.spxtr.showItem != true %}bg-red{% endif %}">{{ rmbc.spxtr.peakToValley }}</td>
                                            <td class="font-weight-bold {% if rmbc.efa.showItem != true %}bg-red{% endif %}">{{ rmbc.efa.name }}</td>
                                            <td class="{% if rmbc.efa.showItem != true %}bg-red{% endif %}">{{ rmbc.efa.peakToValley }}</td>
                                            <td class="font-weight-bold {% if rmbc.vt.showItem != true %}bg-red{% endif %}">{{ rmbc.vt.name }}</td>
                                            <td class="{% if rmbc.vt.showItem != true %}bg-red{% endif %}">{{ rmbc.vt.peakToValley }}</td>
                                            <td class="font-weight-bold {% if rmbc.consolidated.showItem != true %}bg-red{% endif %}">{{ rmbc.consolidated.name }}</td>
                                            <td class="{% if rmbc.consolidated.showItem != true %}bg-red{% endif %}">{{ rmbc.consolidated.peakToValley }}</td>
                                        </tr>
                                        <tr>
                                            <td>RMBC</td>
                                            <td>Recovery:</td>
                                            <td class="font-weight-bold {% if rmbc.spxtr.showItem != true %}bg-red{% endif %}">{{ rmbc.spxtr.name }}</td>
                                            <td class="{% if rmbc.spxtr.showItem != true %}bg-red{% endif %}">{{ rmbc.spxtr.recovery }}</td>
                                            <td class="font-weight-bold {% if rmbc.efa.showItem != true %}bg-red{% endif %}">{{ rmbc.efa.name }}</td>
                                            <td class="{% if rmbc.efa.showItem != true %}bg-red{% endif %}">{{ rmbc.efa.recovery }}</td>
                                            <td class="font-weight-bold {% if rmbc.vt.showItem != true %}bg-red{% endif %}">{{ rmbc.vt.name }}</td>
                                            <td class="{% if rmbc.vt.showItem != true %}bg-red{% endif %}">{{ rmbc.vt.recovery }}</td>
                                            <td class="font-weight-bold {% if rmbc.consolidated.showItem != true %}bg-red{% endif %}">{{ rmbc.consolidated.name }}</td>
                                            <td class="{% if rmbc.consolidated.showItem != true %}bg-red{% endif %}">{{ rmbc.consolidated.recovery }}</td>
                                        </tr>
                                        <tr>
                                            <td>RMBC</td>
                                            <td>Sharpe Ratio:</td>
                                            <td class="font-weight-bold {% if rmbc.spxtr.showItem != true %}bg-red{% endif %}">{{ rmbc.spxtr.name }}</td>
                                            <td class="{% if rmbc.spxtr.showItem != true %}bg-red{% endif %}">{{ rmbc.spxtr.sharpeRatio }}</td>
                                            <td class="font-weight-bold {% if rmbc.efa.showItem != true %}bg-red{% endif %}">{{ rmbc.efa.name }}</td>
                                            <td class="{% if rmbc.efa.showItem != true %}bg-red{% endif %}">{{ rmbc.efa.sharpeRatio }}</td>
                                            <td class="font-weight-bold {% if rmbc.vt.showItem != true %}bg-red{% endif %}">{{ rmbc.vt.name }}</td>
                                            <td class="{% if rmbc.vt.showItem != true %}bg-red{% endif %}">{{ rmbc.vt.sharpeRatio }}</td>
                                            <td class="font-weight-bold {% if rmbc.consolidated.showItem != true %}bg-red{% endif %}">{{ rmbc.consolidated.name }}</td>
                                            <td class="{% if rmbc.consolidated.showItem != true %}bg-red{% endif %}">{{ rmbc.consolidated.sharpeRatio }}</td>
                                        </tr>
                                        <tr>
                                            <td>RMBC</td>
                                            <td>Sortino Ratio:</td>
                                            <td class="font-weight-bold {% if rmbc.spxtr.showItem != true %}bg-red{% endif %}">{{ rmbc.spxtr.name }}</td>
                                            <td class="{% if rmbc.spxtr.showItem != true %}bg-red{% endif %}">{{ rmbc.spxtr.sortinoRatio }}</td>
                                            <td class="font-weight-bold {% if rmbc.efa.showItem != true %}bg-red{% endif %}">{{ rmbc.efa.name }}</td>
                                            <td class="{% if rmbc.efa.showItem != true %}bg-red{% endif %}">{{ rmbc.efa.sortinoRatio }}</td>
                                            <td class="font-weight-bold {% if rmbc.vt.showItem != true %}bg-red{% endif %}">{{ rmbc.vt.name }}</td>
                                            <td class="{% if rmbc.vt.showItem != true %}bg-red{% endif %}">{{ rmbc.vt.sortinoRatio }}</td>
                                            <td class="font-weight-bold {% if rmbc.consolidated.showItem != true %}bg-red{% endif %}">{{ rmbc.consolidated.name }}</td>
                                            <td class="{% if rmbc.consolidated.showItem != true %}bg-red{% endif %}">{{ rmbc.consolidated.sortinoRatio }}</td>
                                        </tr>
                                        <tr>
                                            <td>RMBC</td>
                                            <td>Standard Deviation:</td>
                                            <td class="font-weight-bold {% if rmbc.spxtr.showItem != true %}bg-red{% endif %}">{{ rmbc.spxtr.name }}</td>
                                            <td class="{% if rmbc.spxtr.showItem != true %}bg-red{% endif %}">{{ rmbc.spxtr.standardDeviation }}</td>
                                            <td class="font-weight-bold {% if rmbc.efa.showItem != true %}bg-red{% endif %}">{{ rmbc.efa.name }}</td>
                                            <td class="{% if rmbc.efa.showItem != true %}bg-red{% endif %}">{{ rmbc.efa.standardDeviation }}</td>
                                            <td class="font-weight-bold {% if rmbc.vt.showItem != true %}bg-red{% endif %}">{{ rmbc.vt.name }}</td>
                                            <td class="{% if rmbc.vt.showItem != true %}bg-red{% endif %}">{{ rmbc.vt.standardDeviation }}</td>
                                            <td class="font-weight-bold {% if rmbc.consolidated.showItem != true %}bg-red{% endif %}">{{ rmbc.consolidated.name }}</td>
                                            <td class="{% if rmbc.consolidated.showItem != true %}bg-red{% endif %}">{{ rmbc.consolidated.standardDeviation }}</td>
                                        </tr>
                                        <tr>
                                            <td>RMBC</td>
                                            <td>Downside Deviation:</td>
                                            <td class="font-weight-bold {% if rmbc.spxtr.showItem != true %}bg-red{% endif %}">{{ rmbc.spxtr.name }}</td>
                                            <td class="{% if rmbc.spxtr.showItem != true %}bg-red{% endif %}">{{ rmbc.spxtr.downsideDeviation }}</td>
                                            <td class="font-weight-bold {% if rmbc.efa.showItem != true %}bg-red{% endif %}">{{ rmbc.efa.name }}</td>
                                            <td class="{% if rmbc.efa.showItem != true %}bg-red{% endif %}">{{ rmbc.efa.downsideDeviation }}</td>
                                            <td class="font-weight-bold {% if rmbc.vt.showItem != true %}bg-red{% endif %}">{{ rmbc.vt.name }}</td>
                                            <td class="{% if rmbc.vt.showItem != true %}bg-red{% endif %}">{{ rmbc.vt.downsideDeviation }}</td>
                                            <td class="font-weight-bold {% if rmbc.consolidated.showItem != true %}bg-red{% endif %}">{{ rmbc.consolidated.name }}</td>
                                            <td class="{% if rmbc.consolidated.showItem != true %}bg-red{% endif %}">{{ rmbc.consolidated.downsideDeviation }}</td>
                                        </tr>
                                        <tr>
                                            <td>RMBC</td>
                                            <td>Correlation:</td>
                                            <td class="font-weight-bold {% if rmbc.spxtr.showItem != true %}bg-red{% endif %}">{{ rmbc.spxtr.name }}</td>
                                            <td class="{% if rmbc.spxtr.showItem != true %}bg-red{% endif %}">{{ rmbc.spxtr.correlation }}</td>
                                            <td class="font-weight-bold {% if rmbc.efa.showItem != true %}bg-red{% endif %}">{{ rmbc.efa.name }}</td>
                                            <td class="{% if rmbc.efa.showItem != true %}bg-red{% endif %}">{{ rmbc.efa.correlation }}</td>
                                            <td class="font-weight-bold {% if rmbc.vt.showItem != true %}bg-red{% endif %}">{{ rmbc.vt.name }}</td>
                                            <td class="{% if rmbc.vt.showItem != true %}bg-red{% endif %}">{{ rmbc.vt.correlation }}</td>
                                            <td class="font-weight-bold {% if rmbc.consolidated.showItem != true %}bg-red{% endif %}">{{ rmbc.consolidated.name }}</td>
                                            <td class="{% if rmbc.consolidated.showItem != true %}bg-red{% endif %}">{{ rmbc.consolidated.correlation }}</td>
                                        </tr>
                                        <tr>
                                            <td>RMBC</td>
                                            <td>Beta:</td>
                                            <td class="font-weight-bold {% if rmbc.spxtr.showItem != true %}bg-red{% endif %}">{{ rmbc.spxtr.name }}</td>
                                            <td class="{% if rmbc.spxtr.showItem != true %}bg-red{% endif %}">{{ rmbc.spxtr.beta }}</td>
                                            <td class="font-weight-bold {% if rmbc.efa.showItem != true %}bg-red{% endif %}">{{ rmbc.efa.name }}</td>
                                            <td class="{% if rmbc.efa.showItem != true %}bg-red{% endif %}">{{ rmbc.efa.beta }}</td>
                                            <td class="font-weight-bold {% if rmbc.vt.showItem != true %}bg-red{% endif %}">{{ rmbc.vt.name }}</td>
                                            <td class="{% if rmbc.vt.showItem != true %}bg-red{% endif %}">{{ rmbc.vt.beta }}</td>
                                            <td class="font-weight-bold {% if rmbc.consolidated.showItem != true %}bg-red{% endif %}">{{ rmbc.consolidated.name }}</td>
                                            <td class="{% if rmbc.consolidated.showItem != true %}bg-red{% endif %}">{{ rmbc.consolidated.beta }}</td>
                                        </tr>
                                        <tr>
                                            <td>RMBC</td>
                                            <td>Alpha:</td>
                                            <td class="font-weight-bold {% if rmbc.spxtr.showItem != true %}bg-red{% endif %}">{{ rmbc.spxtr.name }}</td>
                                            <td class="{% if rmbc.spxtr.showItem != true %}bg-red{% endif %}">{{ rmbc.spxtr.alpha }}</td>
                                            <td class="font-weight-bold {% if rmbc.efa.showItem != true %}bg-red{% endif %}">{{ rmbc.efa.name }}</td>
                                            <td class="{% if rmbc.efa.showItem != true %}bg-red{% endif %}">{{ rmbc.efa.alpha }}</td>
                                            <td class="font-weight-bold {% if rmbc.vt.showItem != true %}bg-red{% endif %}">{{ rmbc.vt.name }}</td>
                                            <td class="{% if rmbc.vt.showItem != true %}bg-red{% endif %}">{{ rmbc.vt.alpha }}</td>
                                            <td class="font-weight-bold {% if rmbc.consolidated.showItem != true %}bg-red{% endif %}">{{ rmbc.consolidated.name }}</td>
                                            <td class="{% if rmbc.consolidated.showItem != true %}bg-red{% endif %}">{{ rmbc.consolidated.alpha }}</td>
                                        </tr>
                                        <tr>
                                            <td>RMBC</td>
                                            <td>Mean Return:</td>
                                            <td class="font-weight-bold {% if rmbc.spxtr.showItem != true %}bg-red{% endif %}">{{ rmbc.spxtr.name }}</td>
                                            <td class="{% if rmbc.spxtr.showItem != true %}bg-red{% endif %}">{{ rmbc.spxtr.meanReturn }}</td>
                                            <td class="font-weight-bold {% if rmbc.efa.showItem != true %}bg-red{% endif %}">{{ rmbc.efa.name }}</td>
                                            <td class="{% if rmbc.efa.showItem != true %}bg-red{% endif %}">{{ rmbc.efa.meanReturn }}</td>
                                            <td class="font-weight-bold {% if rmbc.vt.showItem != true %}bg-red{% endif %}">{{ rmbc.vt.name }}</td>
                                            <td class="{% if rmbc.vt.showItem != true %}bg-red{% endif %}">{{ rmbc.vt.meanReturn }}</td>
                                            <td class="font-weight-bold {% if rmbc.consolidated.showItem != true %}bg-red{% endif %}">{{ rmbc.consolidated.name }}</td>
                                            <td class="{% if rmbc.consolidated.showItem != true %}bg-red{% endif %}">{{ rmbc.consolidated.meanReturn }}</td>
                                        </tr>
                                        <tr>
                                            <td>RMBC</td>
                                            <td>Positive Periods:</td>
                                            <td class="font-weight-bold {% if rmbc.spxtr.showItem != true %}bg-red{% endif %}">{{ rmbc.spxtr.name }}</td>
                                            <td class="{% if rmbc.spxtr.showItem != true %}bg-red{% endif %}">{{ rmbc.spxtr.positivePeriods }}</td>
                                            <td class="font-weight-bold {% if rmbc.efa.showItem != true %}bg-red{% endif %}">{{ rmbc.efa.name }}</td>
                                            <td class="{% if rmbc.efa.showItem != true %}bg-red{% endif %}">{{ rmbc.efa.positivePeriods }}</td>
                                            <td class="font-weight-bold {% if rmbc.vt.showItem != true %}bg-red{% endif %}">{{ rmbc.vt.name }}</td>
                                            <td class="{% if rmbc.vt.showItem != true %}bg-red{% endif %}">{{ rmbc.vt.positivePeriods }}</td>
                                            <td class="font-weight-bold {% if rmbc.consolidated.showItem != true %}bg-red{% endif %}">{{ rmbc.consolidated.name }}</td>
                                            <td class="{% if rmbc.consolidated.showItem != true %}bg-red{% endif %}">{{ rmbc.consolidated.positivePeriods }}</td>
                                        </tr>
                                        <tr>
                                            <td>RMBC</td>
                                            <td>Negative Periods:</td>
                                            <td class="font-weight-bold {% if rmbc.spxtr.showItem != true %}bg-red{% endif %}">{{ rmbc.spxtr.name }}</td>
                                            <td class="{% if rmbc.spxtr.showItem != true %}bg-red{% endif %}">{{ rmbc.spxtr.negativePeriods }}</td>
                                            <td class="font-weight-bold {% if rmbc.efa.showItem != true %}bg-red{% endif %}">{{ rmbc.efa.name }}</td>
                                            <td class="{% if rmbc.efa.showItem != true %}bg-red{% endif %}">{{ rmbc.efa.negativePeriods }}</td>
                                            <td class="font-weight-bold {% if rmbc.vt.showItem != true %}bg-red{% endif %}">{{ rmbc.vt.name }}</td>
                                            <td class="{% if rmbc.vt.showItem != true %}bg-red{% endif %}">{{ rmbc.vt.negativePeriods }}</td>
                                            <td class="font-weight-bold {% if rmbc.consolidated.showItem != true %}bg-red{% endif %}">{{ rmbc.consolidated.name }}</td>
                                            <td class="{% if rmbc.consolidated.showItem != true %}bg-red{% endif %}">{{ rmbc.consolidated.negativePeriods }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        {% if rmbcResultsCharts is not empty %}
            <div class="blue-wrapper mt-40">
                <div class="table-wrapper">
                    <table class="table_def">
                        <tr>
                            <th></th>
                            {% if rmbcResultsCharts.spxtr.showItem == true %}
                                <th>{{ rmbcResultsCharts.spxtr.name|upper }}</th>
                            {% endif %}
                            {% if rmbcResultsCharts.efa.showItem == true %}
                                <th>{{ rmbcResultsCharts.efa.name|upper }}</th>
                            {% endif %}
                            {% if rmbcResultsCharts.vt.showItem == true %}
                                <th>{{ rmbcResultsCharts.vt.name|upper }}</th>
                            {% endif %}
                            {% if rmbcResultsCharts.consolidated.showItem == true %}
                                <th>{{ rmbcResultsCharts.consolidated.name|upper }}</th>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><span>Ending VAMI:</span></td>
                            {% if rmbcResultsCharts.spxtr.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.spxtr.endingVami|dash }}</span></td>
                            {% endif %}
                            {% if rmbcResultsCharts.efa.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.efa.endingVami|dash }}</span></td>
                            {% endif %}
                            {% if rmbcResultsCharts.vt.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.vt.endingVami|dash }}</span></td>
                            {% endif %}
                            {% if rmbcResultsCharts.consolidated.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.consolidated.endingVami|dash }}</span></td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><span>Max Drawdown:</span></td>
                            {% if rmbcResultsCharts.spxtr.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.spxtr.maxDrawdown|dash }}</span></td>
                            {% endif %}
                            {% if rmbcResultsCharts.efa.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.efa.maxDrawdown|dash }}</span></td>
                            {% endif %}
                            {% if rmbcResultsCharts.vt.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.vt.maxDrawdown|dash }}</span></td>
                            {% endif %}
                            {% if rmbcResultsCharts.consolidated.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.consolidated.maxDrawdown|dash }}</span></td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><span>Peak-To-Valley:</span></td>
                            {% if rmbcResultsCharts.spxtr.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.spxtr.peakToValley|dash }}</span></td>
                            {% endif %}
                            {% if rmbcResultsCharts.efa.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.efa.peakToValley|dash }}</span></td>
                            {% endif %}
                            {% if rmbcResultsCharts.vt.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.vt.peakToValley|dash }}</span></td>
                            {% endif %}
                            {% if rmbcResultsCharts.consolidated.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.consolidated.peakToValley|dash }}</span></td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><span>Recovery:</span></td>
                            {% if rmbcResultsCharts.spxtr.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.spxtr.recovery|dash }}</span></td>
                            {% endif %}
                            {% if rmbcResultsCharts.efa.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.efa.recovery|dash }}</span></td>
                            {% endif %}
                            {% if rmbcResultsCharts.vt.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.vt.recovery|dash }}</span></td>
                            {% endif %}
                            {% if rmbcResultsCharts.consolidated.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.consolidated.recovery|dash }}</span></td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><span>Sharpe Ratio:</span></td>
                            {% if rmbcResultsCharts.spxtr.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.spxtr.sharpeRatio|dash }}</span></td>
                            {% endif %}
                            {% if rmbcResultsCharts.efa.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.efa.sharpeRatio|dash }}</span></td>
                            {% endif %}
                            {% if rmbcResultsCharts.vt.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.vt.sharpeRatio|dash }}</span></td>
                            {% endif %}
                            {% if rmbcResultsCharts.consolidated.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.consolidated.sharpeRatio|dash }}</span></td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><span>Sortino Ratio:</span></td>
                            {% if rmbcResultsCharts.spxtr.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.spxtr.sortinoRatio|dash }}</span></td>
                            {% endif %}
                            {% if rmbcResultsCharts.efa.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.efa.sortinoRatio|dash }}</span></td>
                            {% endif %}
                            {% if rmbcResultsCharts.vt.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.vt.sortinoRatio|dash }}</span></td>
                            {% endif %}
                            {% if rmbcResultsCharts.consolidated.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.consolidated.sortinoRatio|dash }}</span></td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><span>Standard Deviation:</span></td>
                            {% if rmbcResultsCharts.spxtr.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.spxtr.standardDeviation|dash }}%</span></td>
                            {% endif %}
                            {% if rmbcResultsCharts.efa.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.efa.standardDeviation|dash }}%</span></td>
                            {% endif %}
                            {% if rmbcResultsCharts.vt.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.vt.standardDeviation|dash }}%</span></td>
                            {% endif %}
                            {% if rmbcResultsCharts.consolidated.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.consolidated.standardDeviation|dash }}%</span></td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><span>Downside Deviation:</span></td>
                            {% if rmbcResultsCharts.spxtr.showItem == true %}
                                {#                                <td><span class="icon-up"></span><span>6.86%</span></td>#}
                                <td><span>{{ rmbcResultsCharts.spxtr.downsideDeviation|dash }}%</span></td>
                            {% endif %}
                            {% if rmbcResultsCharts.efa.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.efa.downsideDeviation|dash }}%</span></td>
                            {% endif %}
                            {% if rmbcResultsCharts.vt.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.vt.downsideDeviation|dash }}%</span></td>
                            {% endif %}
                            {% if rmbcResultsCharts.consolidated.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.consolidated.downsideDeviation|dash }}%</span></td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><span>Correlation:</span></td>
                            {% if rmbcResultsCharts.spxtr.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.spxtr.correlation|dash }}</span></td>
                            {% endif %}
                            {% if rmbcResultsCharts.efa.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.efa.correlation|dash }}</span></td>
                            {% endif %}
                            {% if rmbcResultsCharts.vt.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.vt.correlation|dash }}</span></td>
                            {% endif %}
                            {% if rmbcResultsCharts.consolidated.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.consolidated.correlation|dash }}</span></td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><span>B:</span></td>
                            {% if rmbcResultsCharts.spxtr.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.spxtr.beta|dash }}</span></td>
                            {% endif %}
                            {% if rmbcResultsCharts.efa.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.efa.beta|dash }}</span></td>
                            {% endif %}
                            {% if rmbcResultsCharts.vt.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.vt.beta|dash }}</span></td>
                            {% endif %}
                            {% if rmbcResultsCharts.consolidated.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.consolidated.beta|dash }}</span></td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><span>a:</span></td>
                            {% if rmbcResultsCharts.spxtr.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.spxtr.alpha|dash }}</span></td>
                            {% endif %}
                            {% if rmbcResultsCharts.efa.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.efa.alpha|dash }}</span></td>
                            {% endif %}
                            {% if rmbcResultsCharts.vt.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.vt.alpha|dash }}</span></td>
                            {% endif %}
                            {% if rmbcResultsCharts.consolidated.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.consolidated.alpha|dash }}</span></td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><span>Mean Return:</span></td>
                            {% if rmbcResultsCharts.spxtr.showItem == true %}
                                {#                                <td><span class="icon-down"></span><span>-2.05%</span></td>#}
                                {#                                <td><span class="icon-down"></span><span>-3.86%</span></td>#}
                                {#                                <td><span class="icon-down"></span><span>-2.85%</span></td>#}
                                {#                                <td><span class="icon-up"></span><span>0.55%</span></td>#}
                                <td><span>{{ rmbcResultsCharts.spxtr.meanReturn|dash }}%</span></td>
                            {% endif %}
                            {% if rmbcResultsCharts.efa.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.efa.meanReturn|dash }}%</span></td>
                            {% endif %}
                            {% if rmbcResultsCharts.vt.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.vt.meanReturn|dash }}%</span></td>
                            {% endif %}
                            {% if rmbcResultsCharts.consolidated.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.consolidated.meanReturn|dash }}%</span></td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><span>Positive Periods:</span></td>
                            {% if rmbcResultsCharts.spxtr.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.spxtr.positivePeriods|dash }}</span></td>
                            {% endif %}
                            {% if rmbcResultsCharts.efa.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.efa.positivePeriods|dash }}</span></td>
                            {% endif %}
                            {% if rmbcResultsCharts.vt.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.vt.positivePeriods|dash }}</span></td>
                            {% endif %}
                            {% if rmbcResultsCharts.consolidated.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.consolidated.positivePeriods|dash }}</span></td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><span>Negative Periods:</span></td>
                            {% if rmbcResultsCharts.spxtr.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.spxtr.negativePeriods|dash }}</span></td>
                            {% endif %}
                            {% if rmbcResultsCharts.efa.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.efa.negativePeriods|dash }}</span></td>
                            {% endif %}
                            {% if rmbcResultsCharts.vt.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.vt.negativePeriods|dash }}</span></td>
                            {% endif %}
                            {% if rmbcResultsCharts.consolidated.showItem == true %}
                                <td><span>{{ rmbcResultsCharts.consolidated.negativePeriods|dash }}</span></td>
                            {% endif %}
                        </tr>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app_admin') }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
{% endblock %}