{% extends 'admin/layouts/main.html.twig' %}

{% form_theme attributionEffectForm 'admin/form_layouts/custom_form_layout.html.twig' %}

{% block content %}
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-warning">
                        <div class="card-header">
                            <h3 class="card-title">General Elements</h3>
                        </div>
                        <div class="card-body">
                            {{ form_start(attributionEffectForm) }}
                            <div class="row">
                                <div class="col-2">
                                    <div class="form-group">
                                        {{ form_label(attributionEffectForm.sector) }}
                                        {{ form_widget(attributionEffectForm.sector, {'attr':{'class':'form-control g-background-active-value-input'}}) }}
                                        {{ form_errors(attributionEffectForm.sector) }}
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        {{ form_label(attributionEffectForm.allocation) }}
                                        {{ form_widget(attributionEffectForm.allocation, {'attr':{'class':'form-control g-background-active-value-input'}}) }}
                                        {{ form_errors(attributionEffectForm.allocation) }}
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        {{ form_label(attributionEffectForm.selection) }}
                                        {{ form_widget(attributionEffectForm.selection, {'attr':{'class':'form-control'}}) }}
                                        {{ form_errors(attributionEffectForm.selection) }}
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        {{ form_label(attributionEffectForm.total) }}
                                        {{ form_widget(attributionEffectForm.total, {'attr':{'class':'form-control'}}) }}
                                        {{ form_errors(attributionEffectForm .total) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-block btn-success">Save</button>
                                    </div>
                                </div>
                            </div>
                            {{ form_end(attributionEffectForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}