{% extends 'admin/layouts/main.html.twig' %}

{% block content %}
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            {{ form_start(titleForm) }}
                            <div class="row">
                                <div class="col-10">
                                    <div class="form-group">
                                        {{ form_label(titleForm.titleAF) }}
                                        {{ form_widget(titleForm.titleAF, {'attr':{'class':'form-control'}}) }}
                                        {{ form_errors(titleForm.titleAF) }}
                                    </div>
                                </div>
                                <div class="col-2" style="display: flex; justify-content: center; align-items: flex-end;">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-block btn-success">Save</button>
                                    </div>
                                </div>
                            </div>
                            {{ form_end(titleForm) }}
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <a href="{{ path('admin_af_create') }}" class="btn btn-block btn-info btn-flat mb-2">Create new</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Attribution Effect</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th class="g-background-active-value">Sector</th>
                                        <th class="g-background-active-value">Allocation</th>
                                        <th>Selection</th>
                                        <th>Total</th>
                                        <th>Controls</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for af in afResult %}
                                        <tr>
                                            <td>{{ af.id }}</td>
                                            <td class="font-weight-bold g-background-active-value">{{ af.sector.slug }}</td>
                                            <td class="g-background-active-value">{{ af.allocation }}</td>
                                            <td>{{ af.selection }}</td>
                                            <td>{{ af.total }}</td>
                                            <td style="width: 15%;">
                                                <a href="{{ path('admin_af_edit', {'id':af.id}) }}" class="btn btn-block btn-primary btn-xs">Edit</a>
                                                <a href="{{ path('admin_af_delete', {'id':af.id}) }}" class="btn btn-block btn-danger btn-xs">Delete</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th class="g-background-active-value">Sector</th>
                                        <th class="g-background-active-value">Allocation</th>
                                        <th>Selection</th>
                                        <th>Total</th>
                                        <th>Controls</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="blue-wrapper flex-1 flex-1_mr">
            <canvas id="myChart5"></canvas>
        </div>
        <br>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/plugins/forceDirected.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

    <script src="{{ asset('/build/front/js/charts.js') }}"></script>
    <script src="{{ asset('/build/front/js/rounded-chart.js') }}"></script>

    <script>
        $(function () {
            $("#example1").DataTable({
                "autoWidth": true,
                "pageLength": 50,
                "order": [[ 0, "desc" ]]
            });
        });
    </script>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app_admin') }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
{% endblock %}