{% extends 'admin/layouts/main.html.twig' %}

{% block content %}
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-3">
                    <a href="{{ path('admin_ctr_sector_create') }}" class="btn btn-block btn-info btn-flat mb-2">Create new</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Sectors</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Slug</th>
                                        <th>Controls</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for sector in ctrSectorResult %}
                                        <tr>
                                            <td>{{ sector.id }}</td>
                                            <td class="font-weight-bold">{{ sector.slug }}</td>
                                            <td style="width: 15%;">
                                                <a href="{{ path('admin_ctr_sector_edit', {'id':sector.id}) }}" class="btn btn-block btn-primary btn-xs">Edit</a>
                                                <a href="{{ path('admin_ctr_sector_delete', {'id':sector.id}) }}" class="btn btn-block btn-danger btn-xs">Delete</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Slug</th>
                                        <th>Controls</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $("#example1").DataTable({
                "autoWidth": true,
                "pageLength": 50,
                "order": [[ 0, "desc" ]]
            });
        });
    </script>
{% endblock %}