{% extends 'admin/layouts/main.html.twig' %}

{% form_theme form 'admin/form_layouts/custom_form_layout.html.twig' %}

{% block content %}
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-warning">
                        <div class="card-header">
                            <h3 class="card-title">General Elements</h3>
                        </div>
                        <div class="card-body">
                            {{ form_start(form) }}
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        {{ form_label(form.whiteTitle) }}
                                        {{ form_widget(form.whiteTitle, {'attr':{'class':'form-control'}}) }}
                                        {{ form_errors(form.whiteTitle) }}
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        {{ form_label(form.blueTitle) }}
                                        {{ form_widget(form.blueTitle, {'attr':{'class':'form-control'}}) }}
                                        {{ form_errors(form.blueTitle) }}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        {{ form_label(form.content) }}
                                        {{ form_widget(form.content, {'attr':{'class':'form-control'}}) }}
                                        {{ form_errors(form.content) }}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        {{ form_label(form.aboutUsParts) }}
                                        {{ form_widget(form.aboutUsParts, {'attr':{'class':'parts-collection'}}) }}
                                        {{ form_errors(form.aboutUsParts) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-block btn-success">Save</button>
                                    </div>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('/build/admin/plugins/jquery-collection/jquery-collection.js') }}"></script>

    <script type="text/javascript">
        $('.parts-collection').collection({
            name_prefix: '{{ form.aboutUsParts.vars.full_name }}',
            allow_duplicate: false,
            allow_up: false,
            allow_down: false
        });
    </script>

{% endblock %}