{% extends 'admin/layouts/main.html.twig' %}

{% block content %}
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-3">
                    {% if (result is empty) %}
                        <a href="{{ path('admin_options_about_us_create') }}" class="btn btn-block btn-info btn-flat mb-2">Create new</a>
                    {% else %}
                        <a href="{{ path('admin_options_about_us_delete', {'id':result.id}) }}" class="btn btn-block btn-info btn-flat mb-2">Delete Option</a>
                        <a href="{{ path('admin_options_about_us_edit', {'id':result.id}) }}" class="btn btn-block btn-info btn-flat mb-2">Edit Option</a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">About Us Options</h3>
                        </div>

                        {% if result is not empty %}

                            <div class="card-body">
                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">About Page</h3>
                                    </div>
                                    <div class="box-body">
                                        <strong><i class="fa fa-heading margin-r-5"></i> Title White</strong>
                                        <p class="text-muted">
                                            {{ result.whiteTitle|nl2br }}
                                        </p>
                                        <hr>

                                        <strong><i class="fa fa-heading margin-r-5"></i> Title Blue</strong>
                                        <p class="text-muted">
                                            {{ result.blueTitle|nl2br }}
                                        </p>
                                        <hr>

                                        <strong><i class="fa fa-file-text margin-r-5"></i> Content</strong>
                                        <p class="text-muted">
                                            {{ result.content|nl2br }}
                                        </p>
                                        <hr>

                                        <strong><i class="fa fa-book margin-r-5"></i> Parts</strong>
                                        <div class="row">
                                            {% for part in result.aboutUsParts %}
                                                <div class="col-4">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            {{ part.title|nl2br }}
                                                        </div>
                                                        <div class="col-12">
                                                            {{ part.description|nl2br }}
                                                        </div>
                                                        <div class="col-12">
                                                            {% if  part.image %}
                                                                <img style="width: 100%; height: 150px" src="{{ asset('public/uploads/' ~ part.image.filename) }}" alt="">
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <hr>

                                    </div>

                                </div>
                            </div>

                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function () {
            $("#example1").DataTable({
                "autoWidth": true,
                "pageLength": 50,
                "order": [[ 0, "desc" ]]
            });
        });
    </script>

{% endblock %}