{% extends 'admin/layouts/main.html.twig' %}

{% form_theme userForm 'admin/form_layouts/custom_form_layout.html.twig' %}

{% block content %}
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>Create New</h3>
                    <div class="card card-warning">
                        <div class="card-header">
                            <h3 class="card-title">Create new finity user</h3>
                        </div>
                        <div class="card-body">

                            {% for type, messages in app.session.flashbag.all() %}
                                {% for message in messages %}
                                    <div class="row">
                                        <div class="alert alert-danger alert-dismissible">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                            <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                                            {{ message }}
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endfor %}

                            {{ form_start(userForm) }}

                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        {{ form_label(userForm.username) }}
                                        {{ form_widget(userForm.username, {'attr':{'class':'form-control'}}) }}
                                        {{ form_errors(userForm.username) }}
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="form-group">
                                        {{ form_label(userForm.email) }}
                                        {{ form_widget(userForm.email, {'attr':{'class':'form-control'}}) }}
                                        {{ form_errors(userForm.email) }}
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        {{ form_label(userForm.enabled) }}<br>
                                        {{ form_widget(userForm.enabled, {'attr':{'class':'form-control'}}) }}
                                        {{ form_errors(userForm.enabled) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-block btn-success">Save</button>
                                    </div>
                                </div>
                            </div>
                            {{ form_end(userForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}