{% extends 'admin/layouts/main.html.twig' %}

{% block content %}
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-3">
                    <a href="{{ path('admin_user_finity_create') }}" class="btn btn-block btn-info btn-flat mb-2">Create new finity user</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Performance by Symbol</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            {% for type, messages in app.session.flashbag.all() %}
                                {% for message in messages %}
                                    <div class="row">
                                        <div class="alert alert-danger alert-dismissible">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                            <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                                            {{ message }}
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Enabled</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in users %}
                                    <tr>
                                        <td>{{ user.id }}</td>
                                        <td><b>{{ user.username }}</b></td>
                                        <td>{{ user.email }}</td>
                                        <td>
                                            {% if  user.enabled == true %}
                                                <small class="label pull-right bg-green p-1">YES</small>
                                            {% else %}
                                                <small class="label pull-right bg-red p-1">NO</small>
                                            {% endif %}
                                        </td>
                                        <td width="150px">
                                            <a href="{{ path('admin_user_finity_edit', {'id':user.id}) }}" class="btn btn-block btn-primary btn-xs">Edit</a>
                                            <a href="{{ path('admin_user_finity_delete', {'id':user.id}) }}" class="btn btn-block btn-danger btn-xs">Delete</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Enabled</th>
                                    <th></th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $("#example1").DataTable({
                "autoWidth": true,
                "pageLength": 50,
                "order": [[ 0, "desc" ]]
            });
        });
    </script>
{% endblock %}