<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{{ path('admin_dashboard') }}" class="brand-link">
        <img src="{{ asset('build/admin/img/AdminLTELogo.png') }}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">FinityX</span>
    </a>

    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{{ asset('build/admin/img/user2-160x160.jpg') }}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="javascript:void(0);" class="d-block">{{ app.user.username }}</a>
            </div>
        </div>

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header">User Manager</li>
                <li class="nav-item">
                    <a href="{{ path('admin_user_finity_index') }}" class="nav-link {{ menu_state('admin_user_') }}">
                        <i class="nav-icon far fa-user"></i>
                        <p>
                            Finity Users
                        </p>
                    </a>
                </li>

                <li class="nav-header">Options</li>
                <li class="nav-item">
                    <a href="{{ path('admin_options_about_us_index') }}" class="nav-link {{ menu_state('admin_options_about_us') }}">
                        <i class="nav-icon far fa-user"></i>
                        <p>
                            About Us Option
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin_options_performance_index') }}" class="nav-link {{ menu_state('admin_options_performance_index') }}">
                        <i class="nav-icon fa fa-info-circle"></i>
                        <p>
                            Performance Option
                        </p>
                    </a>
                </li>

                <li class="nav-header">Cumulative Benchmark <br> Comparison</li>
                <li class="nav-item">
                    <a href="{{ path('admin_pbc_index') }}" class="nav-link {{ menu_state('admin_pbc') }}">
                        <i class="nav-icon fa fa-chart-area"></i>
                        <p>
                            List
                        </p>
                    </a>
                </li>


                <li class="nav-header">Risk Measures <br> Benchmark Comparison</li>
                <li class="nav-item">
                    <a href="{{ path('admin_rmbc_index') }}" class="nav-link {{ menu_state('admin_rmbc') }}">
                        <i class="nav-icon fa fa-chart-area"></i>
                        <p>
                            List
                        </p>
                    </a>
                </li>


                <li class="nav-header">Performance by <br> Symbol</li>
                <li class="nav-item">
                    <a href="{{ path('admin_pbs_index') }}"
                       class="nav-link {{ menu_state('admin_pbs', ['admin_pbs_index', 'admin_pbs_edit', 'admin_pbs_create']) }}"
                    >
                        <i class="nav-icon fa fa-chart-area"></i>
                        <p>
                            List
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin_pbs_consumer_index') }}"
                       class="nav-link {{ menu_state('admin_pbs_consumer', ['admin_pbs_consumer_index', 'admin_pbs_consumer_edit', 'admin_pbs_consumer_create']) }}"
                    >
                        <i class="nav-icon fa fa-list"></i>
                        <p>
                            Financial Instrument
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin_pbs_consumer_non_index') }}"
                       class="nav-link {{ menu_state('admin_pbs_consumer_non', ['admin_pbs_consumer_non_index', 'admin_pbs_consumer_non_edit', 'admin_pbs_consumer_non_create']) }}"
                    >
                        <i class="nav-icon fa fa-list"></i>
                        <p>
                            Sector
                        </p>
                    </a>
                </li>

                {# Contribution To Return #}
                <li class="nav-header">Contribution To <br> Return</li>
                <li class="nav-item">
                    <a href="{{ path('admin_ctr_index') }}"
                       class="nav-link {{ menu_state('admin_ctr', ['admin_ctr_index', 'admin_ctr_edit', 'admin_ctr_create']) }}"
                    >
                        <i class="nav-icon fa fa-chart-area"></i>
                        <p>
                            List
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin_ctr_sector_index') }}"
                       class="nav-link {{ menu_state('admin_ctr_sector', ['admin_ctr_sector_index', 'admin_ctr_sector_edit', 'admin_ctr_sector_create']) }}"
                    >
                        <i class="nav-icon fa fa-list"></i>
                        <p>
                            Sectors
                        </p>
                    </a>
                </li>

                {# Sector Allocation #}
                <li class="nav-header">Sector Allocation</li>
                <li class="nav-item">
                    <a href="{{ path('admin_sa_index') }}"
                       class="nav-link {{ menu_state('admin_sa', ['admin_sa_index', 'admin_sa_edit', 'admin_sa_create']) }}"
                    >
                        <i class="nav-icon fa fa-chart-area"></i>
                        <p>
                            List
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin_sa_sector_index') }}"
                       class="nav-link {{ menu_state('admin_sa_sector', ['admin_sa_sector_index', 'admin_sa_sector_edit', 'admin_sa_sector_create']) }}"
                    >
                        <i class="nav-icon fa fa-list"></i>
                        <p>
                            Sectors
                        </p>
                    </a>
                </li>

                {# Attribution Effect #}
                <li class="nav-header">Attribution Effect</li>
                <li class="nav-item">
                    <a href="{{ path('admin_af_index') }}"
                       class="nav-link {{ menu_state('admin_af', ['admin_af_index', 'admin_af_edit', 'admin_af_create']) }}"
                    >
                        <i class="nav-icon fa fa-chart-area"></i>
                        <p>
                            List
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin_af_sector_index') }}"
                       class="nav-link {{ menu_state('admin_af_sector', ['admin_af_sector_index', 'admin_af_sector_edit', 'admin_af_sector_create']) }}"
                    >
                        <i class="nav-icon fa fa-list"></i>
                        <p>
                            Sectors
                        </p>
                    </a>
                </li>

                {# Performance by Asset Class #}
                <li class="nav-header">Performance by <br> Asset Class</li>
                <li class="nav-item">
                    <a href="{{ path('admin_pbac_index') }}" class="nav-link {{ menu_state('admin_pbac') }}">
                        <i class="nav-icon fa fa-chart-area"></i>
                        <p>
                            List
                        </p>
                    </a>
                </li>
                <li class="nav-header"></li>
                <li class="nav-header"></li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>