<div class="header" style="padding-top: 5px; padding-bottom: 5px; z-index: 10; background-color: #152731;">
    <div class="container">
        <div class="header__cont"><a class="header__logo" href="{{ path('admin_dashboard') }}">Admin Dashboard</a></div>
    </div>
</div>