<div class="header">
    <div class="container">
        <div class="header__cont">
            <a class="header__logo" href="{{ path('front_home_index') }}">
                <img src="{{ asset('build/front/img/finityx_logo_.png') }}" alt="FinityX">
            </a>
            <ul class="header__menu">
                <li><a href="{{ path('front_home_index') }}">HOME</a></li>
                <li><a href="{{ path('front_about_us') }}">ABOUT US</a></li>
                <li><a href="{{ path('front_performance_index') }}">PERFORMANCE SUMMARY</a></li>
                <li><a href="#">BLOG</a></li>
            </ul>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div>
                    <span class="mobile-hidden">{{ app.user.email }}</span>
                    <a class="header__login" href="{{ path('fos_user_security_logout') }}">Logout</a>
                </div>
            {% else %}
                <a class="header__login" href="{{ path('front_performance_index') }}">Login</a>
            {% endif %}
        </div>
        <div class="nav-icon"><span></span><span></span><span></span></div>
        <div class="menu-drop">
            <div class="mobile-title">FinityX</div>
            <nav>
                <ul class="header-list">
                    <li class="active"><a href="{{ path('front_home_index') }}">Home</a></li>
                    <li><a href="{{ path('front_about_us') }}">ABOUT US</a></li>
                    <li><a href="{{ path('front_performance_index') }}">PERFORMANCE SUMMARY</a></li>
                    <li><a href="#">BLOG</a></li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li><a class="header__login header__login_mob" href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                    {% else %}
                        <li><a class="header__login header__login_mob" href="{{ path('front_performance_index') }}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>