{% extends 'front/layouts/main.html.twig' %}

{% block content %}
    <main class="main d-flex align-items-center">
        <div class="container">
            <h2 style="
    text-align: center;
">
                Page not found.
            </h2>
        </div>
    </main>
    <div class="particles-cust" id="particles-js"></div>
{% endblock %}