{% extends 'admin/layouts/main.html.twig' %}

{% form_theme contributionToReturnForm 'admin/form_layouts/custom_form_layout.html.twig' %}

{% block content %}
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-warning">
                        <div class="card-header">
                            <h3 class="card-title">General Elements</h3>
                        </div>
                        <div class="card-body">
                            {{ form_start(contributionToReturnForm) }}
                                <div class="row">
                                    <div class="col-2">
                                        <div class="form-group">
                                            {{ form_label(contributionToReturnForm.sector) }}
                                            {{ form_widget(contributionToReturnForm.sector, {'attr':{'class':'form-control g-background-active-value-input'}}) }}
                                            {{ form_errors(contributionToReturnForm.sector) }}
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            {{ form_label(contributionToReturnForm.accountContributionToReturn) }}
                                            {{ form_widget(contributionToReturnForm.accountContributionToReturn, {'attr':{'class':'form-control g-background-active-value-input'}}) }}
                                            {{ form_errors(contributionToReturnForm.accountContributionToReturn) }}
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            {{ form_label(contributionToReturnForm.bmContributionToReturn) }}
                                            {{ form_widget(contributionToReturnForm.bmContributionToReturn, {'attr':{'class':'form-control'}}) }}
                                            {{ form_errors(contributionToReturnForm.bmContributionToReturn) }}
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            {{ form_label(contributionToReturnForm.contributionToReturnDifference) }}
                                            {{ form_widget(contributionToReturnForm.contributionToReturnDifference, {'attr':{'class':'form-control'}}) }}
                                            {{ form_errors(contributionToReturnForm.contributionToReturnDifference) }}
                                        </div>
                                    </div>
                                </div>
                            <div class="row">
                                <div class="col-2">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-block btn-success">Save</button>
                                    </div>
                                </div>
                            </div>
                            {{ form_end(contributionToReturnForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}